[[Info]]
_PARENT: none
_FAMILY: xo2c00a
_FILE_FORMAT: 1.00
_DATA_VALUES: 1.00
_STATUS: Advanced

[[Project]]
DesignName: main
Family: MachXO2
Device: LCMXO2-1200ZE
Package: WLCSP25
Operating: Industrial
Version: 8.0
Performance: -1
PartName: LCMXO2-1200ZE-1UWG25ITR

[[Settings]]
EstimationMode: Medium
ProcessType: Typical
SoftwareMode: Estimation
SectionY: Total Power
SectionX: Vcc
SectionLowerLimit: 1.1400
SectionUpperLimit: 1.2600
SectionResolution: 0.0240
TempAmbY: Total Power
TempAmbX: Ambient Temperature
TempAmbLowerLimit: -40.0000
TempAmbUpperLimit: 125.0000
TempAmbResolution: 33.0000
FreqY: Total Power
FreqX: COMBINATORIAL
FreqLowerLimit: 0.0000
FreqUpperLimit: 100.0000
FreqAmbResolution: 20.0000
PowerMode: Normal
DisableBandgap: true
DisablePor: true
DisableDll: false
DisableOsc: true
DisablePLL0: true
DisablePLL1: false
DisableInRd0: true
DisableInRd1: true
DisableInRd2: true
DisableInRd3: true
DisableInRd4: true
DisableInRd5: true
DisableInRd6: false
DisableInRd7: false
EnablePg0: false
EnablePg1: false
EnablePg2: false
EnablePg3: false
EnablePg4: false
EnablePg5: false
EnablePg6: false
EnablePg7: false
DisableLVDS: true
DisableLVDS1: false
DisableLVDS2: false
DisableLVDS3: false
DisableLVDS4: false
DisableLVDS5: false
DisableLVDS6: false
DisableLVDS7: false
DisableSlewrate0: true
DisableSlewrate1: true
DisableSlewrate2: true
DisableSlewrate3: true
DisableSlewrate4: true
DisableSlewrate5: true

[[Thermal]]
Airflow: 200 LFM
AmbientTemperature: 37
CustomThetaSA: -1
JunctionTemperature: 37.00
MaxSafeAmbient: 99.98
ThetaBA: 10.0
ThetaCS: 0
ThetaEffective: 19.28
ThetaJA: 20.59
ThetaJB: 12.88
ThetaJC: 0
ThetaSA: -1
UserThetaBA: No
UserThetaCS: No
UserThetaEffective: No
UserThetaJA: No
UserThetaJB: No
UserThetaJC: No
UserThetaSA: No
thetaBoard: Medium Board
thetaHeatSink: No Heat Sink
thetaOption: ThermalModels

[[VDPM]]
Supply = Voltage, DPM
Vcc = 1.140, 1.00
Vccio 3.3 = 3.300, 1.00
Vccio 2.5 = 2.500, 1.00
Vccio 1.8 = 1.800, 1.00
Vccio 1.5 = 1.500, 1.00
Vccio 1.2 = 1.200, 1.00

[[Logic]]
Clk = F, AF, LUT, RAM, RIPPLE, REG, X0, X1, X2, X6, ISB, ISBLUT, ISBCE, ISBLSR, ISBM, ISBCLK
COMBINATORIAL = 0.0000^d^, 10.0000^d^, 668, 0, 15, 0, 3.5354e+002, 2.3502e+002, 7.4415e+002, 1.8551e+002, 176, 2.6720e+003, 0, 0, 0, 0
N_41_i = 0.0000^d^, 10.0000^d^, 4, 0, 0, 3, 3.5456e+000, 2.3569e+000, 7.4628e+000, 1.8604e+000, 0, 1.7500e+001, 0, 0, 0, 0
TCK_1 = 0.0000^d^, 10.0000^d^, 24, 0, 13, 35, 4.3053e+001, 2.8620e+001, 9.0620e+001, 2.2591e+001, 26, 1.1350e+002, 0, 0, 0, 0
Power_Controller/GND = 0.0000^d^, 10.0000^d^, 0, 0, 0, 0, 0.0000e+000, 0.0000e+000, 0.0000e+000, 0.0000e+000, 0, 0.0000e+000, 0, 0, 0, 0
Fast_CK/RIN = 0.0000^d^, 10.0000^d^, 6, 0, 1, 5, 6.5846e+000, 4.3772e+000, 1.3860e+001, 3.4551e+000, 0, 2.6500e+001, 0, 0, 0, 0
CPU/un1_state_20[0] = 0.0000^d^, 10.0000^d^, 2, 0, 0, 1, 1.5195e+000, 1.0101e+000, 3.1984e+000, 7.9733e-001, 4, 8.5000e+000, 0, 0, 0, 0
CK = 0.0000^d^, 10.0000^d^, 247, 0, 30, 276, 2.9529e+002, 1.9630e+002, 6.2155e+002, 1.5495e+002, 2845, 1.1260e+003, 0, 0, 0, 0
N_743_i = 0.0000^d^, 10.0000^d^, 4, 0, 0, 4, 4.0521e+000, 2.6936e+000, 8.5289e+000, 2.1262e+000, 129, 1.8000e+001, 0, 0, 0, 0
N_43_i = 0.0000^d^, 10.0000^d^, 2, 0, 0, 1, 1.5195e+000, 1.0101e+000, 3.1984e+000, 7.9733e-001, 80, 8.5000e+000, 0, 0, 0, 0
FCK = 0.0000^d^, 10.0000^d^, 2, 0, 0, 1, 1.5195e+000, 1.0101e+000, 3.1984e+000, 7.9733e-001, 164, 8.5000e+000, 0, 0, 0, 0
RCK_c = 0.0000^d^, 10.0000^d^, 97, 0, 35, 131, 1.5094e+002, 1.0034e+002, 3.1770e+002, 7.9202e+001, 1512, 4.5350e+002, 0, 0, 0, 0

[[Clocks]]
Clk = F, Duty, Pfeed, Ptrunk, Pspine, Ptap, Pbranch, Strunk, Sspine, Stap, Sbranch, Etb, Ebg, Elr
COMBINATORIAL = 0.0000^d^, 100, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0
TCK_1 = 0.0000^d^, 100, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0
CK = 0.0000^d^, 100, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0
FCK = 0.0000^d^, 100, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0
RCK_c = 0.0000^d^, 100, f_0.0, t0_1.0, s_0.0, p_0.0, c1_0.0, t0_1.0, c1_0.0, r1_0.0, b_0.0, t_0.0, 0, l_0.0

[[Input Output]]
Clk = _Type, _Mode, F, AF, IP, OP, PG, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB
COMBINATORIAL = LVCMOS25-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 2, N/A, 5, 0, none, NONE, 4.0521e+000, 2.6936e+000, 8.5289e+000, 2.1262e+000, 0.0000e+000
COMBINATORIAL = LVCMOS25-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 2, N/A, 5, 2, none, NONE, 4.0521e+000, 2.6936e+000, 8.5289e+000, 2.1262e+000, 0.0000e+000
TCK_1 = LVCMOS25, sdr, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 0, IREG_OREG, NONE, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000
TCK_1 = LVCMOS25-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 1, N/A, 5, 0, none, NONE, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000
CK = LVCMOS25-8mA-SLEW:SLOW, none, 0.0000^d^, 10.0000^d^, 0, 2, N/A, 5, 0, none, NONE, 4.0521e+000, 2.6936e+000, 8.5289e+000, 2.1262e+000, 0.0000e+000
FCK = LVCMOS25-8mA-SLEW:SLOW, sdr, 0.0000^d^, 10.0000^d^, 0, 3, N/A, 5, 0, IREG_OREG, NONE, 6.0781e+000, 4.0405e+000, 1.2793e+001, 3.1893e+000, 0.0000e+000
FCK = LVCMOS25-8mA-SLEW:SLOW, sdr, 0.0000^d^, 10.0000^d^, 0, 3, N/A, 5, 2, IREG_OREG, NONE, 6.0781e+000, 4.0405e+000, 1.2793e+001, 3.1893e+000, 0.0000e+000
RCK_c = LVCMOS25-8mA-SLEW:SLOW, sdr, 0.0000^d^, 10.0000^d^, 0, 1, N/A, 5, 0, IREG_OREG, NONE, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000
RCK_c = LVCMOS25, sdr, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 2, IREG_OREG, NONE, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000
RCK_c = LVCMOS25, none, 0.0000^d^, 10.0000^d^, 1, 0, OFF, 5, 2, none, NONE, 2.0260e+000, 1.3468e+000, 4.2645e+000, 1.0631e+000, 0.0000e+000

[[Bidi]]
ClkInpName = _Type, _Mode, InpF, InpAF, Bidi, PG, ClkOutName, OutF, OutAF, Duty, Cload, Bank, _ActualMode, _Pull, X0, X1, X2, X6, ISB

[[Bank Voltage]]
Bank = Voltage, InRD, LVDSO, PG
0 = Vccio 2.5, No, No, OFF
1 = Vccio 1.2, No, N/A, N/A
2 = Vccio 2.5, No, N/A, OFF
3 = Vccio 1.2, No, N/A, N/A

[[Termination]]
_Type = IP, OP, Bidi, Duty, Bank, Rth, Vth
LVCMOS25-8mA-SLEW:SLOW = 0, 9, 0, 0.0, 0, 1.0E12, 0
LVCMOS25-8mA-SLEW:SLOW = 0, 5, 0, 0.0, 2, 1.0E12, 0
LVCMOS25 = 1, 0, 0, 0.0, 0, 1.0E12, 0
LVCMOS25 = 2, 0, 0, 0.0, 2, 1.0E12, 0

[[I2C1]]
Clk = F, AF, I2C1

[[I2C2]]
Clk = F, AF, I2C2

[[SPI]]
Clk = F, AF, SPI

[[TC]]
Clk = F, AF, TC, WBUSED

[[UFM]]
Clk = F, AF, UFM

[[WISHBONE]]
Clk = F, AF, WISHBONE

[[CLKDIV]]
Clk = F, AF, CLKDIV

[[CIBTEST]]
CIBTEST = 
0 = 

[[MCLK]]
STANDBY = Clk, F, AF, MCLK, MCLKF, SEDF
Yes = _CLKNAME, 266.0000, 100.0000, 1, 2.0800, 2.0800

[[POR]]
STANDBY = 
Yes = 

[[BANDGAP]]
STANDBY = 
Yes = 

[[JTAG]]
Clk = F, AF, Input, Output
COMBINATORIAL = 0.0000^d^, 100.0000, 3, 1

[[SED]]
_Mode = SED, STATUS
SEDFA = 0, Disabled

[[SP RAM]]
Clk = EBR, F, AF, _Type, X0, X1, X2, X6, ISB

[[DP RAM]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB

[[DP RAM True]]
ClkA = aF, aAF, EBR, ClkB, bF, bAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB
CK = 0.0000^d^, 10.0000^d^, 4, CK, 0.0000^d^, 10.0000^d^, DP8KC_NORM_PORTA, DP8KC_NORM_PORTB, 3.2417e+001, 2.1549e+001, 6.8231e+001, 1.7010e+001, 0.0000e+000
CK = 0.0000^d^, 10.0000^d^, 1, NoNe, 0.0000^d^, 10.0000^d^, DP8KC_NORM_PORTA, DP8KC_NORM_PORTB, 8.1041e+000, 5.3873e+000, 1.7058e+001, 4.2524e+000, 0.0000e+000

[[FIFO DC]]
RdClk = RdF, RdAF, EBR, WrClk, WrF, WrAF, _TypeA, _TypeB, X0, X1, X2, X6, ISB
CK = 0.0000^d^, 10.0000^d^, 2, RCK_c, 0.0000^d^, 10.0000^d^, FIFO8KB_READ, FIFO8KB_WRITE, 1.6208e+001, 1.0775e+001, 3.4116e+001, 8.5049e+000, 0.0000e+000

[[PLL]]
OutClk = inF, N, V, M, PLL, STANDBY

[[DQSDLL]]
Clk = F, DQSDLL

[[DQS]]
Clk = F, DQS

[[DLLDEL]]
Clk = F, DLLDEL

[[PLL Clock]]
Out = In

[[Connections]]
Clock = Comp, Type
COMBINATORIAL = CPU/SLICE_1, 0
COMBINATORIAL = XEN, 1
COMBINATORIAL = OND, 1
COMBINATORIAL = TP2, 1
COMBINATORIAL = TP1, 1
N_41_i = SLICE_214, 0
TCK_1 = SLICE_44, 0
TCK_1 = SCK, 1
Power_Controller/GND = Power_Controller/PCNTR_Inst0, 0
Fast_CK/RIN = Fast_CK/SLICE_41, 0
CPU/un1_state_20[0] = CPU/SLICE_118, 0
CK = CPU/SLICE_13, 0
CK = TP3, 1
CK = NCS, 1
N_743_i = SLICE_212, 0
N_43_i = SLICE_216, 0
FCK = SLICE_189, 0
FCK = xdac[4], 1
FCK = xdac[3], 1
FCK = xdac[2], 1
FCK = xdac[1], 1
FCK = xdac[0], 1
FCK = TP4, 1
RCK_c = RCK, 1
RCK_c = ONL, 1

[[Hierarchical Connections]]
Key = Name, Type
SIGNAL = COMBINATORIAL, DUMMY
INPUT = CPU/SLICE_1, SLICE
INPUT = CPU/SLICE_2, SLICE
INPUT = CPU/SLICE_3, SLICE
INPUT = CPU/SLICE_4, SLICE
INPUT = CPU/SLICE_5, SLICE
INPUT = CPU/SLICE_6, SLICE
INPUT = CPU/SLICE_7, SLICE
INPUT = CPU/SLICE_8, SLICE
INPUT = CPU/SLICE_9, SLICE
INPUT = CPU/SLICE_10, SLICE
INPUT = CPU/SLICE_11, SLICE
INPUT = CPU/SLICE_12, SLICE
INPUT = CPU/SLICE_26, SLICE
INPUT = Fast_CK/SLICE_42, SLICE
INPUT = Fast_CK/SLICE_43, SLICE
INPUT = Stimulus_Controller.ONL_16.m8/SLICE_304, SLICE
INPUT = CPU/result_1[0]/SLICE_305, SLICE
INPUT = CPU/result_1[7]/SLICE_306, SLICE
INPUT = CPU/result_1[4]/SLICE_307, SLICE
INPUT = CPU/result_1[3]/SLICE_308, SLICE
INPUT = CPU/result_1[2]/SLICE_309, SLICE
INPUT = CPU/result_1[1]/SLICE_310, SLICE
INPUT = CPU/result_1[5]/SLICE_311, SLICE
INPUT = CPU/result_1[6]/SLICE_312, SLICE
INPUT = CPU/result_1_7[0]/SLICE_313, SLICE
INPUT = CPU/result_1_8[8]/SLICE_314, SLICE
INPUT = CPU/result_1_5[7]/SLICE_315, SLICE
INPUT = CPU/un1_reg_IX_7[4]/SLICE_316, SLICE
INPUT = CPU/un1_reg_IX_7[0]/SLICE_317, SLICE
INPUT = CPU/un1_reg_IX_7[1]/SLICE_318, SLICE
INPUT = CPU/un1_reg_IX_7[2]/SLICE_319, SLICE
INPUT = CPU/un1_reg_IX_7[3]/SLICE_320, SLICE
INPUT = CPU/un1_reg_IX_7[5]/SLICE_321, SLICE
INPUT = CPU/un1_reg_IX_7[6]/SLICE_322, SLICE
INPUT = CPU/un1_reg_IX_7[7]/SLICE_323, SLICE
INPUT = CPU/un1_reg_IX_10[0]/SLICE_324, SLICE
INPUT = CPU/un1_state_61_u[0]/SLICE_325, SLICE
INPUT = CPU/un1_reg_IX_10[2]/SLICE_326, SLICE
INPUT = CPU/un1_reg_IX_10[3]/SLICE_327, SLICE
INPUT = CPU/un1_next_b_1_sqmuxa_1[0]/SLICE_328, SLICE
INPUT = CPU/un1_next_d_1_sqmuxa_1[0]/SLICE_329, SLICE
INPUT = CPU/un1_next_c_1_sqmuxa_1[0]/SLICE_330, SLICE
INPUT = CPU/un1_next_h_1_sqmuxa_1_0[0]/SLICE_331, SLICE
INPUT = CPU/un1_next_l_1_sqmuxa_1_0[0]/SLICE_332, SLICE
INPUT = CPU/un1_next_a_0_sqmuxa_1_0[0]/SLICE_333, SLICE
INPUT = CPU/un1_state_20[0]/SLICE_334, SLICE
INPUT = CPU/alu_ctrl[2]/SLICE_335, SLICE
INPUT = CPU/un1_reg_IX_6[0]/SLICE_336, SLICE
INPUT = CPU/un1_reg_IX_6[2]/SLICE_337, SLICE
INPUT = CPU/un1_reg_IX_6[7]/SLICE_338, SLICE
INPUT = CPU/CPU.jump_4_6/SLICE_339, SLICE
INPUT = CPU/un1_reg_IX_6[1]/SLICE_340, SLICE
INPUT = Message_Transmitter.TXB_1_0_0_0_3/SLICE_341, SLICE
INPUT = Stimulus_Controller.ONL_16.m31/SLICE_342, SLICE
INPUT = Stimulus_Controller.ONL_16.m38/SLICE_343, SLICE
INPUT = Stimulus_Controller.ONL_16.m17/SLICE_344, SLICE
INPUT = CPU/SLICE_345, SLICE
INPUT = SLICE_346, SLICE
INPUT = CPU/SLICE_348, SLICE
INPUT = CPU/SLICE_349, SLICE
INPUT = CPU/SLICE_350, SLICE
INPUT = CPU/SLICE_351, SLICE
INPUT = CPU/SLICE_352, SLICE
INPUT = CPU/SLICE_353, SLICE
INPUT = CPU/SLICE_354, SLICE
INPUT = CPU/SLICE_355, SLICE
INPUT = CPU/SLICE_356, SLICE
INPUT = CPU/SLICE_357, SLICE
INPUT = CPU/SLICE_358, SLICE
INPUT = CPU/SLICE_359, SLICE
INPUT = CPU/SLICE_360, SLICE
INPUT = CPU/SLICE_361, SLICE
INPUT = CPU/SLICE_362, SLICE
INPUT = CPU/SLICE_363, SLICE
INPUT = CPU/SLICE_364, SLICE
INPUT = CPU/SLICE_365, SLICE
INPUT = CPU/SLICE_366, SLICE
INPUT = CPU/SLICE_367, SLICE
INPUT = CPU/SLICE_368, SLICE
INPUT = CPU/SLICE_369, SLICE
INPUT = CPU/SLICE_370, SLICE
INPUT = CPU/SLICE_371, SLICE
INPUT = CPU/SLICE_372, SLICE
INPUT = CPU/SLICE_373, SLICE
INPUT = CPU/SLICE_374, SLICE
INPUT = CPU/SLICE_375, SLICE
INPUT = CPU/SLICE_376, SLICE
INPUT = CPU/SLICE_377, SLICE
INPUT = SLICE_378, SLICE
INPUT = SLICE_379, SLICE
INPUT = SLICE_381, SLICE
INPUT = SLICE_382, SLICE
INPUT = SLICE_383, SLICE
INPUT = SLICE_384, SLICE
INPUT = SLICE_385, SLICE
INPUT = SLICE_386, SLICE
INPUT = SLICE_388, SLICE
INPUT = SLICE_389, SLICE
INPUT = SLICE_390, SLICE
INPUT = CPU/SLICE_392, SLICE
INPUT = CPU/SLICE_393, SLICE
INPUT = CPU/SLICE_394, SLICE
INPUT = CPU/SLICE_395, SLICE
INPUT = CPU/SLICE_396, SLICE
INPUT = CPU/SLICE_397, SLICE
INPUT = CPU/SLICE_398, SLICE
INPUT = CPU/SLICE_399, SLICE
INPUT = CPU/SLICE_400, SLICE
INPUT = CPU/SLICE_401, SLICE
INPUT = CPU/SLICE_402, SLICE
INPUT = CPU/SLICE_404, SLICE
INPUT = CPU/SLICE_405, SLICE
INPUT = CPU/SLICE_408, SLICE
INPUT = CPU/SLICE_409, SLICE
INPUT = CPU/SLICE_410, SLICE
INPUT = CPU/SLICE_411, SLICE
INPUT = CPU/SLICE_412, SLICE
INPUT = CPU/SLICE_413, SLICE
INPUT = CPU/SLICE_414, SLICE
INPUT = CPU/SLICE_415, SLICE
INPUT = CPU/SLICE_416, SLICE
INPUT = CPU/SLICE_417, SLICE
INPUT = CPU/SLICE_418, SLICE
INPUT = CPU/SLICE_419, SLICE
INPUT = CPU/SLICE_422, SLICE
INPUT = CPU/SLICE_423, SLICE
INPUT = CPU/SLICE_424, SLICE
INPUT = CPU/SLICE_430, SLICE
INPUT = CPU/SLICE_432, SLICE
INPUT = CPU/SLICE_434, SLICE
INPUT = CPU/SLICE_435, SLICE
INPUT = CPU/SLICE_436, SLICE
INPUT = CPU/SLICE_437, SLICE
INPUT = CPU/SLICE_438, SLICE
INPUT = CPU/SLICE_449, SLICE
INPUT = CPU/SLICE_450, SLICE
INPUT = CPU/SLICE_451, SLICE
INPUT = CPU/SLICE_452, SLICE
INPUT = CPU/SLICE_453, SLICE
INPUT = CPU/SLICE_454, SLICE
INPUT = CPU/SLICE_455, SLICE
INPUT = CPU/SLICE_456, SLICE
INPUT = CPU/SLICE_457, SLICE
INPUT = CPU/SLICE_458, SLICE
INPUT = CPU/SLICE_459, SLICE
INPUT = CPU/SLICE_460, SLICE
INPUT = CPU/SLICE_461, SLICE
INPUT = CPU/SLICE_462, SLICE
INPUT = CPU/SLICE_463, SLICE
INPUT = CPU/SLICE_464, SLICE
INPUT = CPU/SLICE_465, SLICE
INPUT = CPU/SLICE_466, SLICE
INPUT = CPU/SLICE_467, SLICE
INPUT = CPU/SLICE_468, SLICE
INPUT = CPU/SLICE_469, SLICE
INPUT = CPU/SLICE_470, SLICE
INPUT = CPU/SLICE_471, SLICE
INPUT = CPU/SLICE_472, SLICE
INPUT = CPU/SLICE_473, SLICE
INPUT = CPU/SLICE_474, SLICE
INPUT = CPU/SLICE_475, SLICE
INPUT = CPU/SLICE_476, SLICE
INPUT = CPU/SLICE_477, SLICE
INPUT = CPU/SLICE_478, SLICE
INPUT = CPU/SLICE_479, SLICE
INPUT = CPU/SLICE_480, SLICE
INPUT = CPU/SLICE_481, SLICE
INPUT = CPU/SLICE_482, SLICE
INPUT = CPU/SLICE_483, SLICE
INPUT = CPU/SLICE_484, SLICE
INPUT = CPU/SLICE_485, SLICE
INPUT = CPU/SLICE_486, SLICE
INPUT = CPU/SLICE_487, SLICE
INPUT = CPU/SLICE_488, SLICE
INPUT = CPU/SLICE_489, SLICE
INPUT = CPU/SLICE_490, SLICE
INPUT = CPU/SLICE_491, SLICE
INPUT = CPU/SLICE_492, SLICE
INPUT = CPU/SLICE_493, SLICE
INPUT = CPU/SLICE_494, SLICE
INPUT = CPU/SLICE_495, SLICE
INPUT = CPU/SLICE_496, SLICE
INPUT = CPU/SLICE_497, SLICE
INPUT = CPU/SLICE_498, SLICE
INPUT = CPU/SLICE_499, SLICE
INPUT = CPU/SLICE_500, SLICE
INPUT = CPU/SLICE_502, SLICE
INPUT = CPU/SLICE_506, SLICE
INPUT = CPU/SLICE_507, SLICE
INPUT = CPU/SLICE_508, SLICE
INPUT = CPU/SLICE_509, SLICE
INPUT = CPU/SLICE_512, SLICE
INPUT = CPU/SLICE_513, SLICE
INPUT = CPU/SLICE_514, SLICE
INPUT = CPU/SLICE_515, SLICE
INPUT = CPU/SLICE_516, SLICE
INPUT = CPU/SLICE_517, SLICE
INPUT = CPU/SLICE_518, SLICE
INPUT = CPU/SLICE_519, SLICE
INPUT = CPU/SLICE_520, SLICE
INPUT = CPU/SLICE_521, SLICE
INPUT = CPU/SLICE_522, SLICE
INPUT = CPU/SLICE_523, SLICE
INPUT = CPU/SLICE_524, SLICE
INPUT = CPU/SLICE_525, SLICE
INPUT = CPU/SLICE_526, SLICE
INPUT = CPU/SLICE_527, SLICE
INPUT = CPU/SLICE_528, SLICE
INPUT = CPU/SLICE_529, SLICE
INPUT = CPU/SLICE_530, SLICE
INPUT = CPU/SLICE_531, SLICE
INPUT = CPU/SLICE_532, SLICE
INPUT = CPU/SLICE_533, SLICE
INPUT = CPU/SLICE_534, SLICE
INPUT = CPU/SLICE_535, SLICE
INPUT = CPU/SLICE_536, SLICE
INPUT = CPU/SLICE_537, SLICE
INPUT = CPU/SLICE_538, SLICE
INPUT = CPU/SLICE_539, SLICE
INPUT = CPU/SLICE_540, SLICE
INPUT = CPU/SLICE_542, SLICE
INPUT = Fast_CK/SLICE_543, SLICE
INPUT = Fast_CK/SLICE_544, SLICE
INPUT = SLICE_545, SLICE
INPUT = SLICE_547, SLICE
INPUT = SLICE_548, SLICE
INPUT = SLICE_551, SLICE
INPUT = SLICE_553, SLICE
INPUT = SLICE_554, SLICE
INPUT = SLICE_555, SLICE
INPUT = SLICE_564, SLICE
INPUT = SLICE_565, SLICE
INPUT = SLICE_570, SLICE
INPUT = SLICE_571, SLICE
INPUT = SLICE_572, SLICE
INPUT = SLICE_574, SLICE
INPUT = SLICE_575, SLICE
INPUT = SLICE_578, SLICE
INPUT = SLICE_579, SLICE
INPUT = SLICE_580, SLICE
INPUT = SLICE_581, SLICE
INPUT = SLICE_582, SLICE
INPUT = SLICE_583, SLICE
INPUT = SLICE_584, SLICE
INPUT = SLICE_585, SLICE
INPUT = SLICE_586, SLICE
INPUT = SLICE_587, SLICE
INPUT = SLICE_589, SLICE
INPUT = SLICE_593, SLICE
INPUT = SLICE_594, SLICE
INPUT = SLICE_595, SLICE
INPUT = SLICE_596, SLICE
INPUT = SLICE_601, SLICE
INPUT = CPU/SLICE_602, SLICE
INPUT = CPU/SLICE_603, SLICE
INPUT = CPU/SLICE_604, SLICE
INPUT = CPU/SLICE_605, SLICE
INPUT = CPU/SLICE_606, SLICE
INPUT = CPU/SLICE_607, SLICE
INPUT = CPU/SLICE_608, SLICE
INPUT = CPU/SLICE_609, SLICE
INPUT = CPU/SLICE_610, SLICE
INPUT = CPU/SLICE_611, SLICE
INPUT = CPU/SLICE_612, SLICE
INPUT = CPU/SLICE_613, SLICE
INPUT = CPU/SLICE_614, SLICE
INPUT = CPU/SLICE_615, SLICE
INPUT = CPU/SLICE_616, SLICE
INPUT = SLICE_617, SLICE
INPUT = SLICE_619, SLICE
INPUT = CPU/SLICE_621, SLICE
INPUT = CPU/SLICE_622, SLICE
INPUT = CPU/SLICE_623, SLICE
INPUT = CPU/SLICE_624, SLICE
INPUT = CPU/SLICE_625, SLICE
INPUT = CPU/SLICE_626, SLICE
INPUT = CPU/SLICE_627, SLICE
INPUT = CPU/SLICE_628, SLICE
INPUT = CPU/SLICE_629, SLICE
INPUT = CPU/SLICE_630, SLICE
INPUT = CPU/SLICE_631, SLICE
INPUT = CPU/SLICE_632, SLICE
INPUT = CPU/SLICE_633, SLICE
INPUT = CPU/SLICE_634, SLICE
INPUT = CPU/SLICE_635, SLICE
INPUT = CPU/SLICE_636, SLICE
INPUT = CPU/SLICE_637, SLICE
INPUT = CPU/SLICE_638, SLICE
INPUT = CPU/SLICE_639, SLICE
INPUT = CPU/SLICE_644, SLICE
INPUT = CPU/SLICE_645, SLICE
INPUT = CPU/SLICE_646, SLICE
INPUT = CPU/SLICE_647, SLICE
INPUT = CPU/SLICE_648, SLICE
INPUT = CPU/SLICE_649, SLICE
INPUT = CPU/SLICE_650, SLICE
INPUT = CPU/SLICE_651, SLICE
INPUT = CPU/SLICE_652, SLICE
INPUT = CPU/SLICE_653, SLICE
INPUT = CPU/SLICE_654, SLICE
INPUT = CPU/SLICE_655, SLICE
INPUT = CPU/SLICE_656, SLICE
INPUT = CPU/SLICE_657, SLICE
INPUT = SLICE_659, SLICE
INPUT = SLICE_661, SLICE
INPUT = SLICE_662, SLICE
INPUT = SLICE_664, SLICE
INPUT = CPU/SLICE_665, SLICE
INPUT = CPU/SLICE_666, SLICE
INPUT = CPU/SLICE_667, SLICE
INPUT = CPU/SLICE_668, SLICE
INPUT = CPU/SLICE_669, SLICE
INPUT = CPU/SLICE_670, SLICE
INPUT = CPU/SLICE_671, SLICE
INPUT = CPU/SLICE_672, SLICE
INPUT = CPU/SLICE_673, SLICE
INPUT = CPU/SLICE_674, SLICE
INPUT = CPU/SLICE_675, SLICE
INPUT = CPU/SLICE_676, SLICE
INPUT = CPU/SLICE_677, SLICE
INPUT = CPU/SLICE_678, SLICE
INPUT = CPU/SLICE_679, SLICE
INPUT = CPU/SLICE_680, SLICE
INPUT = CPU/SLICE_681, SLICE
INPUT = CPU/SLICE_682, SLICE
INPUT = CPU/SLICE_683, SLICE
INPUT = CPU/SLICE_684, SLICE
INPUT = CPU/SLICE_685, SLICE
INPUT = CPU/SLICE_686, SLICE
INPUT = CPU/SLICE_687, SLICE
INPUT = CPU/SLICE_690, SLICE
INPUT = CPU/SLICE_691, SLICE
INPUT = SLICE_694, SLICE
INPUT = SLICE_695, SLICE
INPUT = SLICE_697, SLICE
INPUT = SLICE_698, SLICE
INPUT = SLICE_699, SLICE
INPUT = SLICE_700, SLICE
INPUT = SLICE_701, SLICE
INPUT = SLICE_702, SLICE
INPUT = SLICE_703, SLICE
INPUT = SLICE_705, SLICE
INPUT = SLICE_706, SLICE
INPUT = CPU/SLICE_707, SLICE
INPUT = CPU/SLICE_708, SLICE
INPUT = CPU/SLICE_710, SLICE
INPUT = CPU/SLICE_711, SLICE
INPUT = CPU/SLICE_712, SLICE
INPUT = SLICE_714, SLICE
INPUT = SLICE_715, SLICE
INPUT = XEN, PIO
INPUT = OND, PIO
INPUT = TP2, PIO
INPUT = TP1, PIO
INPUT = GSR_INST, GSR
SIGNAL = N_41_i, DUMMY
OUTPUT = SLICE_214, SLICE
OUTPORT = cpu_data_in_7[7], F0
OUTPORT = cpu_data_in[4], Q0
OUTPORT = cpu_data_in_8[7], F1
OUTPORT = cpu_data_in[5], Q1
OUTPUT = SLICE_215, SLICE
OUTPORT = cpu_data_in_3[7], F0
OUTPORT = cpu_data_in[6], Q0
OUTPORT = N_631, F1
SIGNAL = TCK_1, DUMMY
OUTPUT = SLICE_44, SLICE
OUTPORT = un2_counter_1_s_7_0_S0, F0
OUTPORT = sensor_bits_in[1], Q0
OUTPUT = SLICE_45, SLICE
OUTPORT = un2_counter_1_cry_5_0_S0, F0
OUTPORT = sensor_bits_in[0], Q0
OUTPORT = un2_counter_1_cry_5_0_S1, F1
OUTPORT = un2_counter_1_cry_6, FCO
OUTPUT = SLICE_49, SLICE
OUTPORT = un4_completion_code_s_3_0_S0, F0
OUTPORT = sensor_bits_in[5], Q0
OUTPUT = SLICE_50, SLICE
OUTPORT = un4_completion_code_cry_1_0_S0, F0
OUTPORT = sensor_bits_in[4], Q0
OUTPORT = un4_completion_code_cry_1_0_S1, F1
OUTPORT = un4_completion_code_cry_2, FCO
OUTPUT = SLICE_51, SLICE
OUTPORT = sensor_bits_in[3], Q0
OUTPORT = un4_completion_code_cry_0, FCO
OUTPUT = SLICE_74, SLICE
OUTPORT = state_5_s[3], F0
OUTPORT = state_5[3], Q0
OUTPORT = state_5_s[4], F1
OUTPORT = state_5[4], Q1
OUTPUT = SLICE_75, SLICE
OUTPORT = state_5_s[1], F0
OUTPORT = state_5[1], Q0
OUTPORT = state_5_s[2], F1
OUTPORT = state_5[2], Q1
OUTPORT = state_5_cry[2], FCO
OUTPUT = SLICE_76, SLICE
OUTPORT = state_5_s[0], F1
OUTPORT = state_5[0], Q1
OUTPORT = state_5_cry[0], FCO
OUTPUT = SLICE_87, SLICE
OUTPORT = tck_frequency_s[7], F0
OUTPORT = tck_frequency[7], Q0
OUTPUT = SLICE_88, SLICE
OUTPORT = tck_frequency_s[5], F0
OUTPORT = tck_frequency[5], Q0
OUTPORT = tck_frequency_s[6], F1
OUTPORT = tck_frequency[6], Q1
OUTPORT = tck_frequency_cry[6], FCO
OUTPUT = SLICE_89, SLICE
OUTPORT = tck_frequency_s[3], F0
OUTPORT = tck_frequency[3], Q0
OUTPORT = tck_frequency_s[4], F1
OUTPORT = tck_frequency[4], Q1
OUTPORT = tck_frequency_cry[4], FCO
OUTPUT = SLICE_90, SLICE
OUTPORT = tck_frequency_s[1], F0
OUTPORT = tck_frequency[1], Q0
OUTPORT = tck_frequency_s[2], F1
OUTPORT = tck_frequency[2], Q1
OUTPORT = tck_frequency_cry[2], FCO
OUTPUT = SLICE_91, SLICE
OUTPORT = tck_frequency_s[0], F1
OUTPORT = tck_frequency[0], Q1
OUTPORT = tck_frequency_cry[0], FCO
OUTPUT = SLICE_171, SLICE
OUTPORT = N_35_i, F0
OUTPORT = CS, Q0
OUTPORT = N_129, F1
OUTPUT = SLICE_185, SLICE
OUTPORT = N_129_i, F0
OUTPORT = SAA_1, Q0
OUTPORT = N_692, F1
OUTPUT = SLICE_187, SLICE
OUTPORT = un1_cs5, F0
OUTPORT = SCK_c, Q0
OUTPORT = N_1168, F1
OUTPUT = SCK, PIO
OUTPUT = SLICE_191, SLICE
OUTPORT = Message_Transmitter.un1_next_state16_i, F0
OUTPORT = TXA_1, Q0
OUTPORT = N_1063, F1
OUTPUT = SLICE_192, SLICE
OUTPORT = Message_Transmitter.TXB_1, F0
OUTPORT = TXB, Q0
OUTPORT = Message_Transmitter.TXB_1_0_0_0_9, F1
OUTPUT = SLICE_279, SLICE
OUTPORT = state_ns_i[1], F0
OUTPORT = state[0], Q0
OUTPORT = N_2395_0, F1
OUTPORT = state[1], Q1
OUTPUT = SLICE_280, SLICE
OUTPORT = m3_0_o2_0_o2_i_o2, F0
OUTPORT = state_1[0], Q0
OUTPORT = N_30, F1
OUTPORT = state_1[1], Q1
OUTPUT = SLICE_284, SLICE
OUTPORT = N_1037_i, F0
OUTPORT = state_3[0], Q0
OUTPORT = N_1038_i, F1
OUTPORT = state_3[1], Q1
OUTPUT = SLICE_285, SLICE
OUTPORT = N_1039_i, F0
OUTPORT = state_3[2], Q0
OUTPORT = state_3_RNO[3], F1
OUTPORT = state_3[3], Q1
OUTPUT = SLICE_286, SLICE
OUTPORT = un9_next_state_axbxc4, F0
OUTPORT = state_3[4], Q0
OUTPORT = N_1040_i, F1
OUTPORT = state_3[5], Q1
OUTPUT = SLICE_391, SLICE
OUTPORT = un2_counter_c4, F0
OUTPORT = sensor_bits_in[2], Q0
OUTPORT = un2_counter_c5, F1
OUTPUT = SLICE_576, SLICE
OUTPORT = un9_next_state_c5, F0
OUTPORT = sensor_bits_in[6], Q0
OUTPORT = un9_next_state_c2, F1
SIGNAL = Power_Controller/GND, DUMMY
SIGNAL = Fast_CK/RIN, DUMMY
OUTPUT = Fast_CK/SLICE_41, SLICE
OUTPORT = Fast_CK/un1_calib_i, F1
OUTPORT = FCK, Q1
OUTPUT = Fast_CK/SLICE_175, SLICE
OUTPORT = Fast_CK/next_count_3[1], F0
OUTPORT = Fast_CK/ANB1, Q0
OUTPORT = Fast_CK/next_count_3[2], F1
OUTPORT = Fast_CK/ANB2, Q1
OUTPUT = Fast_CK/SLICE_176, SLICE
OUTPORT = Fast_CK/next_count_3[3], F0
OUTPORT = Fast_CK/ANB3, Q0
OUTPORT = Fast_CK/CO1, F1
OUTPUT = Fast_CK/SLICE_177, SLICE
OUTPORT = Fast_CK/next_count_3[0], F0
OUTPORT = Fast_CK/CO0, Q0
OUTPORT = Fast_CK/un1_count, F1
SIGNAL = CPU/un1_state_20[0], DUMMY
OUTPUT = CPU/SLICE_118, SLICE
OUTPORT = CPU/alu_cin_1, F0
OUTPORT = CPU/alu_cin, Q0
OUTPORT = CPU/alu_cin_1_0_2, F1
SIGNAL = CK, DUMMY
OUTPUT = CPU/SLICE_13, SLICE
OUTPORT = CPU/prog_cntr_s[11], F0
OUTPORT = prog_cntr[11], Q0
OUTPUT = CPU/SLICE_14, SLICE
OUTPORT = CPU/prog_cntr_s[9], F0
OUTPORT = prog_cntr[9], Q0
OUTPORT = CPU/prog_cntr_s[10], F1
OUTPORT = prog_cntr[10], Q1
OUTPORT = CPU/prog_cntr_cry[10], FCO
OUTPUT = CPU/SLICE_15, SLICE
OUTPORT = CPU/prog_cntr_s[7], F0
OUTPORT = prog_cntr[7], Q0
OUTPORT = CPU/prog_cntr_s[8], F1
OUTPORT = prog_cntr[8], Q1
OUTPORT = CPU/prog_cntr_cry[8], FCO
OUTPUT = CPU/SLICE_16, SLICE
OUTPORT = CPU/prog_cntr_s[5], F0
OUTPORT = prog_cntr[5], Q0
OUTPORT = CPU/prog_cntr_s[6], F1
OUTPORT = prog_cntr[6], Q1
OUTPORT = CPU/prog_cntr_cry[6], FCO
OUTPUT = CPU/SLICE_17, SLICE
OUTPORT = CPU/prog_cntr_s[3], F0
OUTPORT = prog_cntr[3], Q0
OUTPORT = CPU/prog_cntr_s[4], F1
OUTPORT = prog_cntr[4], Q1
OUTPORT = CPU/prog_cntr_cry[4], FCO
OUTPUT = CPU/SLICE_18, SLICE
OUTPORT = CPU/prog_cntr_s[1], F0
OUTPORT = prog_cntr[1], Q0
OUTPORT = CPU/prog_cntr_s[2], F1
OUTPORT = prog_cntr[2], Q1
OUTPORT = CPU/prog_cntr_cry[2], FCO
OUTPUT = CPU/SLICE_19, SLICE
OUTPORT = CPU/prog_cntr_s[0], F1
OUTPORT = prog_cntr[0], Q1
OUTPORT = CPU/prog_cntr_cry[0], FCO
OUTPUT = CPU/SLICE_20, SLICE
OUTPORT = CPU/reg_IY_s[10], F0
OUTPORT = CPU/reg_IY[10], Q0
OUTPORT = CPU/reg_IY_s[11], F1
OUTPORT = CPU/reg_IY[11], Q1
OUTPUT = CPU/SLICE_21, SLICE
OUTPORT = CPU/reg_IY_s[8], F0
OUTPORT = CPU/reg_IY[8], Q0
OUTPORT = CPU/reg_IY_s[9], F1
OUTPORT = CPU/reg_IY[9], Q1
OUTPORT = CPU/reg_IY_cry[9], FCO
OUTPUT = CPU/SLICE_22, SLICE
OUTPORT = CPU/reg_IY_s[6], F0
OUTPORT = CPU/reg_IY[6], Q0
OUTPORT = CPU/reg_IY_s[7], F1
OUTPORT = CPU/reg_IY[7], Q1
OUTPORT = CPU/reg_IY_cry[7], FCO
OUTPUT = CPU/SLICE_23, SLICE
OUTPORT = CPU/reg_IY_s[4], F0
OUTPORT = CPU/reg_IY[4], Q0
OUTPORT = CPU/reg_IY_s[5], F1
OUTPORT = CPU/reg_IY[5], Q1
OUTPORT = CPU/reg_IY_cry[5], FCO
OUTPUT = CPU/SLICE_24, SLICE
OUTPORT = CPU/reg_IY_s[2], F0
OUTPORT = CPU/reg_IY[2], Q0
OUTPORT = CPU/reg_IY_s[3], F1
OUTPORT = CPU/reg_IY[3], Q1
OUTPORT = CPU/reg_IY_cry[3], FCO
OUTPUT = CPU/SLICE_25, SLICE
OUTPORT = CPU/reg_IY_s[0], F0
OUTPORT = CPU/reg_IY[0], Q0
OUTPORT = CPU/reg_IY_s[1], F1
OUTPORT = CPU/reg_IY[1], Q1
OUTPORT = CPU/reg_IY_cry[1], FCO
OUTPUT = CPU/SLICE_27, SLICE
OUTPORT = CPU/reg_IX_s[10], F0
OUTPORT = CPU/reg_IX[10], Q0
OUTPORT = CPU/reg_IX_s[11], F1
OUTPORT = CPU/reg_IX[11], Q1
OUTPUT = CPU/SLICE_28, SLICE
OUTPORT = CPU/reg_IX_s[8], F0
OUTPORT = CPU/reg_IX[8], Q0
OUTPORT = CPU/reg_IX_s[9], F1
OUTPORT = CPU/reg_IX[9], Q1
OUTPORT = CPU/reg_IX_cry[9], FCO
OUTPUT = CPU/SLICE_29, SLICE
OUTPORT = CPU/reg_IX_s[6], F0
OUTPORT = CPU/reg_IX[6], Q0
OUTPORT = CPU/reg_IX_s[7], F1
OUTPORT = CPU/reg_IX[7], Q1
OUTPORT = CPU/reg_IX_cry[7], FCO
OUTPUT = CPU/SLICE_30, SLICE
OUTPORT = CPU/reg_IX_s[4], F0
OUTPORT = CPU/reg_IX[4], Q0
OUTPORT = CPU/reg_IX_s[5], F1
OUTPORT = CPU/reg_IX[5], Q1
OUTPORT = CPU/reg_IX_cry[5], FCO
OUTPUT = CPU/SLICE_31, SLICE
OUTPORT = CPU/reg_IX_s[2], F0
OUTPORT = CPU/reg_IX[2], Q0
OUTPORT = CPU/reg_IX_s[3], F1
OUTPORT = CPU/reg_IX[3], Q1
OUTPORT = CPU/reg_IX_cry[3], FCO
OUTPUT = CPU/SLICE_32, SLICE
OUTPORT = CPU/reg_IX_s[0], F0
OUTPORT = CPU/reg_IX[0], Q0
OUTPORT = CPU/reg_IX_s[1], F1
OUTPORT = CPU/reg_IX[1], Q1
OUTPORT = CPU/reg_IX_cry[1], FCO
OUTPUT = CPU/SLICE_33, SLICE
OUTPORT = CPU/reg_E[4], Q0
OUTPORT = CPU/reg_E[5], Q1
OUTPORT = CPU/reg_IX, FCO
OUTPUT = CPU/SLICE_34, SLICE
OUTPORT = CPU/reg_SP_s[11], F0
OUTPORT = CPU/reg_SP[11], Q0
OUTPUT = CPU/SLICE_35, SLICE
OUTPORT = CPU/reg_SP_s[9], F0
OUTPORT = CPU/reg_SP[9], Q0
OUTPORT = CPU/reg_SP_s[10], F1
OUTPORT = CPU/reg_SP[10], Q1
OUTPORT = CPU/reg_SP_cry[10], FCO
OUTPUT = CPU/SLICE_36, SLICE
OUTPORT = CPU/reg_SP_s[7], F0
OUTPORT = CPU/reg_SP[7], Q0
OUTPORT = CPU/reg_SP_s[8], F1
OUTPORT = CPU/reg_SP[8], Q1
OUTPORT = CPU/reg_SP_cry[8], FCO
OUTPUT = CPU/SLICE_37, SLICE
OUTPORT = CPU/reg_SP_s[5], F0
OUTPORT = CPU/reg_SP[5], Q0
OUTPORT = CPU/reg_SP_s[6], F1
OUTPORT = CPU/reg_SP[6], Q1
OUTPORT = CPU/reg_SP_cry[6], FCO
OUTPUT = CPU/SLICE_38, SLICE
OUTPORT = CPU/reg_SP_s[3], F0
OUTPORT = CPU/reg_SP[3], Q0
OUTPORT = CPU/reg_SP_s[4], F1
OUTPORT = CPU/reg_SP[4], Q1
OUTPORT = CPU/reg_SP_cry[4], FCO
OUTPUT = CPU/SLICE_39, SLICE
OUTPORT = CPU/reg_SP_s[1], F0
OUTPORT = CPU/reg_SP[1], Q0
OUTPORT = CPU/reg_SP_s[2], F1
OUTPORT = CPU/reg_SP[2], Q1
OUTPORT = CPU/reg_SP_cry[2], FCO
OUTPUT = CPU/SLICE_40, SLICE
OUTPORT = CPU/reg_SP_s[0], F1
OUTPORT = CPU/reg_SP[0], Q1
OUTPORT = CPU/reg_SP_cry[0], FCO
OUTPUT = SLICE_46, SLICE
OUTPORT = un2_counter_1_cry_3_0_S0, F0
OUTPORT = int_period_4[6], Q0
OUTPORT = un2_counter_1_cry_3_0_S1, F1
OUTPORT = int_period_4[7], Q1
OUTPORT = un2_counter_1_cry_4, FCO
OUTPUT = SLICE_47, SLICE
OUTPORT = un2_counter_1_cry_1_0_S0, F0
OUTPORT = int_period_4[4], Q0
OUTPORT = un2_counter_1_cry_1_0_S1, F1
OUTPORT = int_period_4[5], Q1
OUTPORT = un2_counter_1_cry_2, FCO
OUTPUT = SLICE_48, SLICE
OUTPORT = int_period_4[2], Q0
OUTPORT = int_period_4[3], Q1
OUTPORT = un2_counter_1_cry_0, FCO
OUTPUT = SLICE_94, SLICE
OUTPORT = N_618, F0
OUTPORT = BOOST_1, Q0
OUTPUT = SLICE_111, SLICE
OUTPORT = MMU.CPRST_4, F0
OUTPORT = CPRST, Q0
OUTPORT = cpu_data_in_obs_53_i_0_0_a2_0, F1
OUTPUT = CPU/SLICE_112, SLICE
OUTPORT = CPU/DS_5_iv_1, F0
OUTPORT = CPU.CPU.DS_5_iv_1_reto, Q0
OUTPORT = CPU/DS_5_iv_0, F1
OUTPUT = CPU/SLICE_113, SLICE
OUTPORT = CPU/next_state_4_01_1_1_0_f5a, OFX0
OUTPORT = CPU.next_state_4_0_dreg[1], Q1
OUTPORT = CPU/N_1500_a, OFX1
OUTPUT = CPU/SLICE_114, SLICE
OUTPORT = CPU/state[17], F0
OUTPORT = CPU.state_reto[17], Q0
OUTPORT = CPU/alu_in_y_sn_N_2, F1
OUTPUT = CPU/SLICE_115, SLICE
OUTPORT = CPU/WR_1_iv_0, F0
OUTPORT = CPU/WR_1_iv_0_reto, Q0
OUTPORT = CPU/N_250_0, F1
OUTPUT = CPU/SLICE_116, SLICE
OUTPORT = CPU/N_282, OFX0
OUTPORT = CPU/WR_ret_1, Q0
OUTPUT = CPU/SLICE_117, SLICE
OUTPORT = CPU/N_323, F0
OUTPORT = CPU/WR_ret_2, Q0
OUTPORT = CPU/N_353, F1
OUTPUT = CPU/SLICE_123, SLICE
OUTPORT = CPU/next_flag_c_8, F0
OUTPORT = CPU/flag_C, Q0
OUTPORT = CPU/result_1[8], F1
OUTPUT = CPU/SLICE_124, SLICE
OUTPORT = CPU/next_flag_i_9_iv_i, F0
OUTPORT = CPU/flag_I, Q0
OUTPORT = CPU/next_flag_i_1_sqmuxa_2, F1
OUTPUT = CPU/SLICE_125, SLICE
OUTPORT = CPU/next_flag_s_8, F0
OUTPORT = CPU/flag_S, Q0
OUTPORT = CPU/N_1244_mux, F1
OUTPUT = CPU/SLICE_126, SLICE
OUTPORT = CPU/next_flag_z_8, F0
OUTPORT = CPU/flag_Z, Q0
OUTPORT = CPU/next_flag_z_2_m_5, F1
OUTPUT = CPU/SLICE_127, SLICE
OUTPORT = CPU/next_sp_1_sqmuxa, F0
OUTPORT = CPU/next_sp_1_sqmuxa_reto, Q0
OUTPORT = CPU/un1_reg_IX_sn_N_9, F1
OUTPUT = CPU/SLICE_128, SLICE
OUTPORT = CPU/next_state_4_01_0_1_0_f5a, OFX0
OUTPORT = CPU/next_state_4_0_dreg[0], Q1
OUTPORT = CPU/N_1499_a, OFX1
OUTPUT = CPU/SLICE_129, SLICE
OUTPORT = CPU/next_state_4_00_2_1_0_f5a, OFX0
OUTPORT = CPU/next_state_4_0_dreg[2], Q1
OUTPORT = CPU/N_1501_a, OFX1
OUTPUT = CPU/SLICE_130, SLICE
OUTPORT = CPU/next_state_4_00_3_1_0_f5a, OFX0
OUTPORT = CPU/next_state_4_0_dreg[3], Q1
OUTPORT = CPU/N_1502_a, OFX1
OUTPUT = CPU/SLICE_131, SLICE
OUTPORT = CPU/next_state_4_02_4_1_f5b, OFX0
OUTPORT = CPU/next_state_4_0_dreg[4], Q1
OUTPORT = CPU/N_1503_a, OFX1
OUTPUT = CPU/SLICE_132, SLICE
OUTPORT = CPU/next_state_4_01_5_1_0_f5a, OFX0
OUTPORT = CPU/next_state_4_0_dreg[5], Q1
OUTPORT = CPU/N_1504_a, OFX1
OUTPUT = CPU/SLICE_133, SLICE
OUTPORT = CPU/opcode_3[0], F0
OUTPORT = CPU/opcode[0], Q0
OUTPORT = CPU/opcode_3[1], F1
OUTPORT = CPU/opcode[1], Q1
OUTPUT = CPU/SLICE_134, SLICE
OUTPORT = CPU/opcode_3[2], F0
OUTPORT = CPU/opcode[2], Q0
OUTPORT = CPU/opcode_3[3], F1
OUTPORT = CPU/opcode[3], Q1
OUTPUT = CPU/SLICE_135, SLICE
OUTPORT = CPU/opcode_3[4], F0
OUTPORT = CPU/opcode[4], Q0
OUTPORT = CPU/opcode_3[5], F1
OUTPORT = CPU/opcode[5], Q1
OUTPUT = CPU/SLICE_136, SLICE
OUTPORT = CPU/opcode_3[6], F0
OUTPORT = CPU/opcode[6], Q0
OUTPORT = CPU/un209_state_0, F1
OUTPUT = CPU/SLICE_137, SLICE
OUTPORT = CPU/un1_cpu_data_in_iv[0], F0
OUTPORT = CPU/reg_A[0], Q0
OUTPORT = CPU/reg_A_RNO[1], F1
OUTPORT = CPU/reg_A[1], Q1
OUTPUT = CPU/SLICE_138, SLICE
OUTPORT = CPU/reg_A_RNO[2], F0
OUTPORT = CPU/reg_A[2], Q0
OUTPORT = CPU/reg_A_RNO[3], F1
OUTPORT = CPU/reg_A[3], Q1
OUTPUT = CPU/SLICE_139, SLICE
OUTPORT = CPU/reg_A_RNO[4], F0
OUTPORT = CPU/reg_A[4], Q0
OUTPORT = CPU/reg_A_RNO[5], F1
OUTPORT = CPU/reg_A[5], Q1
OUTPUT = CPU/SLICE_140, SLICE
OUTPORT = CPU/reg_A_RNO[6], F0
OUTPORT = CPU/reg_A[6], Q0
OUTPORT = CPU/reg_A_RNO[7], F1
OUTPORT = CPU/reg_A[7], Q1
OUTPUT = CPU/SLICE_141, SLICE
OUTPORT = CPU/un1_alu_out[0], F0
OUTPORT = CPU/reg_B[0], Q0
OUTPORT = CPU/un1_alu_out[1], F1
OUTPORT = CPU/reg_B[1], Q1
OUTPUT = CPU/SLICE_142, SLICE
OUTPORT = CPU/un1_alu_out[2], F0
OUTPORT = CPU/reg_B[2], Q0
OUTPORT = CPU/un1_alu_out[3], F1
OUTPORT = CPU/reg_B[3], Q1
OUTPUT = CPU/SLICE_143, SLICE
OUTPORT = CPU/un1_alu_out[4], F0
OUTPORT = CPU/reg_B[4], Q0
OUTPORT = CPU/un1_alu_out[5], F1
OUTPORT = CPU/reg_B[5], Q1
OUTPUT = CPU/SLICE_144, SLICE
OUTPORT = CPU/un1_alu_out[6], F0
OUTPORT = CPU/reg_B[6], Q0
OUTPORT = CPU/un1_alu_out[7], F1
OUTPORT = CPU/reg_B[7], Q1
OUTPUT = CPU/SLICE_157, SLICE
OUTPORT = CPU/un1_cpu_data_in_1[0], F0
OUTPORT = CPU/reg_H[0], Q0
OUTPORT = CPU/un1_cpu_data_in_1_iv[1], F1
OUTPORT = CPU/reg_H[1], Q1
OUTPUT = CPU/SLICE_158, SLICE
OUTPORT = CPU/un1_cpu_data_in_1_iv[2], F0
OUTPORT = CPU/reg_H[2], Q0
OUTPORT = CPU/un1_cpu_data_in_1_iv[3], F1
OUTPORT = CPU/reg_H[3], Q1
OUTPUT = CPU/SLICE_159, SLICE
OUTPORT = CPU/un1_cpu_data_in_1_0_iv[4], F0
OUTPORT = CPU/reg_H[4], Q0
OUTPORT = CPU/un1_cpu_data_in_1_0_iv[5], F1
OUTPORT = CPU/reg_H[5], Q1
OUTPUT = CPU/SLICE_160, SLICE
OUTPORT = CPU/un1_cpu_data_in_1[6], F0
OUTPORT = CPU/reg_H[6], Q0
OUTPORT = CPU/un1_cpu_data_in_1[7], F1
OUTPORT = CPU/reg_H[7], Q1
OUTPUT = CPU/SLICE_161, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[0], F0
OUTPORT = CPU/reg_L[0], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[1], F1
OUTPORT = CPU/reg_L[1], Q1
OUTPUT = CPU/SLICE_162, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[2], F0
OUTPORT = CPU/reg_L[2], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[3], F1
OUTPORT = CPU/reg_L[3], Q1
OUTPUT = CPU/SLICE_163, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[4], F0
OUTPORT = CPU/reg_L[4], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[5], F1
OUTPORT = CPU/reg_L[5], Q1
OUTPUT = CPU/SLICE_164, SLICE
OUTPORT = CPU/un1_cpu_data_in_2_iv[6], F0
OUTPORT = CPU/reg_L[6], Q0
OUTPORT = CPU/un1_cpu_data_in_2_iv[7], F1
OUTPORT = CPU/reg_L[7], Q1
OUTPUT = CPU/SLICE_169, SLICE
OUTPORT = CPU/state_ns[18], F0
OUTPORT = CPU/state[0], Q0
OUTPORT = CPU/state_ns[9], F1
OUTPORT = CPU/state[9], Q1
OUTPUT = CPU/SLICE_170, SLICE
OUTPORT = CPU/N_197_i, F0
OUTPORT = CPU/state[14], Q0
OUTPORT = CPU/un347_state, F1
OUTPUT = SLICE_186, SLICE
OUTPORT = MMU.SAI_4, F0
OUTPORT = SAI_1, Q0
OUTPORT = int_mask_1_sqmuxa, F1
OUTPUT = SLICE_188, SLICE
OUTPORT = MMU.SWRST_3, F0
OUTPORT = SWRST, Q0
OUTPORT = N_1173, F1
OUTPUT = SLICE_190, SLICE
OUTPORT = un2_cpuirq_1_i_0_0, F0
OUTPORT = TP3_c, Q0
OUTPORT = un2_cpuirq_1_i_0_0_0, F1
OUTPUT = TP3, PIO
OUTPUT = SLICE_193, SLICE
OUTPORT = MMU.TXI_4, F0
OUTPORT = TXI_1, Q0
OUTPUT = CPU/SLICE_206, SLICE
OUTPORT = CPU/un1_next_sp[0], F0
OUTPORT = cpu_addr[0], Q0
OUTPORT = CPU/un1_next_sp[1], F1
OUTPORT = cpu_addr[1], Q1
OUTPUT = CPU/SLICE_207, SLICE
OUTPORT = CPU/un1_next_sp_iv[2], F0
OUTPORT = cpu_addr[2], Q0
OUTPORT = CPU/un1_next_sp_iv[3], F1
OUTPORT = cpu_addr[3], Q1
OUTPUT = CPU/SLICE_208, SLICE
OUTPORT = CPU/un1_next_sp_iv[4], F0
OUTPORT = cpu_addr[4], Q0
OUTPORT = CPU/un1_next_sp_iv[5], F1
OUTPORT = cpu_addr[5], Q1
OUTPUT = CPU/SLICE_209, SLICE
OUTPORT = CPU/un1_next_sp_iv[6], F0
OUTPORT = cpu_addr[6], Q0
OUTPORT = CPU/un1_next_sp_iv[7], F1
OUTPORT = cpu_addr[7], Q1
OUTPUT = CPU/SLICE_210, SLICE
OUTPORT = CPU/un1_next_sp[8], F0
OUTPORT = cpu_addr[8], Q0
OUTPORT = CPU/un1_next_sp_iv[9], F1
OUTPORT = cpu_addr[9], Q1
OUTPUT = CPU/SLICE_211, SLICE
OUTPORT = CPU/un1_next_sp[10], F0
OUTPORT = cpu_addr[10], Q0
OUTPORT = CPU/un1_next_sp_iv[11], F1
OUTPORT = cpu_addr[11], Q1
OUTPUT = CPU/SLICE_217, SLICE
OUTPORT = CPU/N_336, F0
OUTPORT = cpu_data_out[0], Q0
OUTPORT = CPU/un1_reg_IX[2], F1
OUTPORT = cpu_data_out[2], Q1
OUTPUT = CPU/SLICE_218, SLICE
OUTPORT = CPU/un1_reg_IX[1], OFX0
OUTPORT = cpu_data_out[1], Q0
OUTPUT = CPU/SLICE_219, SLICE
OUTPORT = CPU/un1_reg_IX[3], F0
OUTPORT = cpu_data_out[3], Q0
OUTPORT = CPU/N_304, F1
OUTPUT = CPU/SLICE_220, SLICE
OUTPORT = CPU/N_343, OFX0
OUTPORT = cpu_data_out[4], Q0
OUTPUT = CPU/SLICE_221, SLICE
OUTPORT = CPU/un1_reg_IX[5], OFX0
OUTPORT = cpu_data_out[5], Q0
OUTPUT = CPU/SLICE_222, SLICE
OUTPORT = CPU/un1_reg_IX[6], OFX0
OUTPORT = cpu_data_out[6], Q0
OUTPUT = CPU/SLICE_223, SLICE
OUTPORT = CPU/un1_reg_IX[7], OFX0
OUTPORT = cpu_data_out[7], Q0
OUTPUT = SLICE_269, SLICE
OUTPORT = int_rst_3[0], F0
OUTPORT = int_rst[0], Q0
OUTPORT = int_rst_3[1], F1
OUTPORT = int_rst[1], Q1
OUTPUT = SLICE_270, SLICE
OUTPORT = int_rst_3[2], F0
OUTPORT = int_rst[2], Q0
OUTPORT = int_rst_3[3], F1
OUTPORT = int_rst[3], Q1
OUTPUT = SLICE_300, SLICE
OUTPORT = CS_i, F0
OUTPORT = xmit_bits[8], Q0
OUTPORT = xmit_bits[9], Q1
OUTPUT = NCS, PIO
OUTPUT = SLICE_301, SLICE
OUTPORT = N_1065, F0
OUTPORT = xmit_bits[10], Q0
OUTPORT = Error_Check.un1_crcerr_0_a3_0_a2_0, F1
OUTPORT = xmit_bits[11], Q1
OUTPUT = SLICE_302, SLICE
OUTPORT = N_667_i, F0
OUTPORT = xmit_bits[12], Q0
OUTPORT = counter_0_sqmuxa_1_5, F1
OUTPORT = xmit_bits[13], Q1
OUTPUT = SLICE_303, SLICE
OUTPORT = Power_Controller/GND, F0
OUTPORT = xmit_bits[14], Q0
OUTPORT = CK, F1
OUTPORT = xmit_bits[15], Q1
OUTPUT = SLICE_380, SLICE
OUTPORT = N_33_i, F0
OUTPORT = int_period_1[2], Q0
OUTPORT = N_715, F1
OUTPORT = int_period_1[3], Q1
OUTPUT = SLICE_387, SLICE
OUTPORT = N_39_i, F0
OUTPORT = int_period_1[10], Q0
OUTPORT = N_806, F1
OUTPORT = int_period_1[11], Q1
OUTPUT = CPU/SLICE_403, SLICE
OUTPORT = CPU/un1_reset_inv_4_1, F0
OUTPORT = CPU/first_operand[4], Q0
OUTPORT = CPU/un23_state_1, F1
OUTPORT = CPU/first_operand[5], Q1
OUTPUT = CPU/SLICE_406, SLICE
OUTPORT = CPU/un30_state_5, F0
OUTPORT = CPU/first_operand[2], Q0
OUTPORT = CPU/un30_state, F1
OUTPORT = CPU/first_operand[3], Q1
OUTPUT = CPU/SLICE_407, SLICE
OUTPORT = CPU/un154_state_4, F0
OUTPORT = CPU/first_operand[6], Q0
OUTPORT = CPU/un1_state_41, F1
OUTPORT = CPU/first_operand[7], Q1
OUTPUT = SLICE_420, SLICE
OUTPORT = CPU/cpu_data_in_m[6], F0
OUTPORT = xmit_bits[6], Q0
OUTPORT = CPU/next_pc_21[6], F1
OUTPORT = xmit_bits[7], Q1
OUTPUT = SLICE_421, SLICE
OUTPORT = CPU/cpu_data_in_m[2], F0
OUTPORT = tx_channel[6], Q0
OUTPORT = CPU/next_pc_21[2], F1
OUTPORT = tx_channel[7], Q1
OUTPUT = SLICE_425, SLICE
OUTPORT = CPU/cpu_data_in_m[3], F0
OUTPORT = xmit_bits[0], Q0
OUTPORT = CPU/next_pc_21[3], F1
OUTPORT = xmit_bits[1], Q1
OUTPUT = SLICE_426, SLICE
OUTPORT = CPU/cpu_data_in_m[4], F0
OUTPORT = xmit_bits[2], Q0
OUTPORT = CPU/next_pc_21[4], F1
OUTPORT = xmit_bits[3], Q1
OUTPUT = SLICE_427, SLICE
OUTPORT = CPU/cpu_data_in_m[5], F0
OUTPORT = xmit_bits[4], Q0
OUTPORT = CPU/next_pc_21[5], F1
OUTPORT = xmit_bits[5], Q1
OUTPUT = CPU/SLICE_428, SLICE
OUTPORT = CPU/un1_reset_inv_5_0, F0
OUTPORT = CPU/second_operand[6], Q0
OUTPORT = CPU/un156_state_1, F1
OUTPORT = CPU/second_operand[7], Q1
OUTPUT = CPU/SLICE_429, SLICE
OUTPORT = CPU/un1_reset_inv_4_0_0, F0
OUTPORT = CPU/second_operand[4], Q0
OUTPORT = CPU/un232_state_3, F1
OUTPORT = CPU/second_operand[5], Q1
OUTPUT = CPU/SLICE_431, SLICE
OUTPORT = CPU/N_765, F0
OUTPORT = CPU/second_operand[0], Q0
OUTPORT = CPU/alu_cin_1_sn_N_4_mux, F1
OUTPORT = CPU/second_operand[1], Q1
OUTPUT = CPU/SLICE_433, SLICE
OUTPORT = CPU/reg_IX_0, F0
OUTPORT = CPU/reg_E[6], Q0
OUTPORT = CPU/un17_state_0, F1
OUTPORT = CPU/reg_E[7], Q1
OUTPUT = CPU/SLICE_439, SLICE
OUTPORT = CPU/reg_IX_409_i1_mux, F0
OUTPORT = CPU/reg_D[2], Q0
OUTPORT = CPU/un1_reset, F1
OUTPORT = CPU/reg_D[3], Q1
OUTPUT = CPU/SLICE_440, SLICE
OUTPORT = CPU/reg_IX_408_i1_mux, F0
OUTPORT = CPU/reg_C[0], Q0
OUTPORT = CPU/un1_reg_IX_2[10], F1
OUTPORT = CPU/reg_C[1], Q1
OUTPUT = CPU/SLICE_441, SLICE
OUTPORT = CPU/reg_IX_407_i1_mux, F0
OUTPORT = CPU/reg_E[2], Q0
OUTPORT = CPU/un1_reg_IX_2[9], F1
OUTPORT = CPU/reg_E[3], Q1
OUTPUT = CPU/SLICE_442, SLICE
OUTPORT = CPU/reg_IX_406_i1_mux, F0
OUTPORT = CPU/reg_D[0], Q0
OUTPORT = CPU/un1_reg_IX_2[8], F1
OUTPORT = CPU/reg_D[1], Q1
OUTPUT = CPU/SLICE_443, SLICE
OUTPORT = CPU/reg_IX_405_i1_mux, F0
OUTPORT = CPU/reg_E[0], Q0
OUTPORT = CPU/un1_reg_IX_2_u[7], F1
OUTPORT = CPU/reg_E[1], Q1
OUTPUT = CPU/SLICE_444, SLICE
OUTPORT = CPU/reg_IX_404_i1_mux, F0
OUTPORT = CPU/reg_C[6], Q0
OUTPORT = CPU/un1_reg_IX_2_u[6], F1
OUTPORT = CPU/reg_C[7], Q1
OUTPUT = CPU/SLICE_445, SLICE
OUTPORT = CPU/reg_IX_403_i1_mux, F0
OUTPORT = CPU/reg_D[6], Q0
OUTPORT = CPU/un1_reg_IX_2_u[5], F1
OUTPORT = CPU/reg_D[7], Q1
OUTPUT = CPU/SLICE_446, SLICE
OUTPORT = CPU/reg_IX_402_i1_mux, F0
OUTPORT = CPU/reg_C[4], Q0
OUTPORT = CPU/un1_reg_IX_2_u[4], F1
OUTPORT = CPU/reg_C[5], Q1
OUTPUT = CPU/SLICE_447, SLICE
OUTPORT = CPU/reg_IX_401_i1_mux, F0
OUTPORT = CPU/reg_D[4], Q0
OUTPORT = CPU/un1_reg_IX_2_u[3], F1
OUTPORT = CPU/reg_D[5], Q1
OUTPUT = CPU/SLICE_448, SLICE
OUTPORT = CPU/reg_IX_400_i1_mux, F0
OUTPORT = CPU/reg_C[2], Q0
OUTPORT = CPU/un1_reg_IX_2_u[2], F1
OUTPORT = CPU/reg_C[3], Q1
OUTPUT = SLICE_510, SLICE
OUTPORT = CPU/next_pc_21[7], F0
OUTPORT = tck_divisor[0], Q0
OUTPORT = CPU/next_pc_2_sqmuxa_1, F1
OUTPORT = tck_divisor[1], Q1
OUTPUT = CPU/SLICE_511, SLICE
OUTPORT = CPU/un1_reg_IX_sn_N_13_mux, F0
OUTPORT = CPU/second_operand[2], Q0
OUTPORT = CPU/state[8], F1
OUTPORT = CPU/second_operand[3], Q1
OUTPUT = CPU/SLICE_541, SLICE
OUTPORT = CPU/first_operand_1_sqmuxa, F0
OUTPORT = CPU/first_operand[0], Q0
OUTPORT = CPU/state[16], F1
OUTPORT = CPU/first_operand[1], Q1
OUTPUT = SLICE_546, SLICE
OUTPORT = N_1052, F0
OUTPORT = int_period_2[6], Q0
OUTPORT = sensor_bits_ince[4], F1
OUTPORT = int_period_2[7], Q1
OUTPUT = SLICE_549, SLICE
OUTPORT = N_1075, F0
OUTPORT = int_period_2[4], Q0
OUTPORT = N_1049, F1
OUTPORT = int_period_2[5], Q1
OUTPUT = SLICE_550, SLICE
OUTPORT = Byte_Receiver.un34_state, F0
OUTPORT = int_period_1[6], Q0
OUTPORT = N_1177, F1
OUTPORT = int_period_1[7], Q1
OUTPUT = SLICE_552, SLICE
OUTPORT = Byte_Receiver.un49_state, F0
OUTPORT = int_mask[6], Q0
OUTPORT = N_807, F1
OUTPORT = int_mask[7], Q1
OUTPUT = SLICE_556, SLICE
OUTPORT = frequency_low_1_sqmuxa, F0
OUTPORT = df_reg[0], Q0
OUTPORT = N_810, F1
OUTPORT = df_reg[1], Q1
OUTPUT = SLICE_557, SLICE
OUTPORT = int_period_2ce[8], F0
OUTPORT = frequency_low[4], Q0
OUTPORT = N_1076, F1
OUTPUT = SLICE_558, SLICE
OUTPORT = Byte_Receiver.next_state22_i_0_0_0_o2_RNIUFPN3, F0
OUTPORT = int_period_1[12], Q0
OUTPORT = N_648, F1
OUTPORT = int_period_1[13], Q1
OUTPUT = SLICE_559, SLICE
OUTPORT = N_31_i, F0
OUTPORT = int_period_1[4], Q0
OUTPORT = N_1121, F1
OUTPORT = int_period_1[5], Q1
OUTPUT = SLICE_560, SLICE
OUTPORT = int_period_1ce[8], F0
OUTPORT = frequency_low[0], Q0
OUTPORT = un1_sai8_i_a2_0_a2_0_a2, F1
OUTPORT = frequency_low[1], Q1
OUTPUT = SLICE_561, SLICE
OUTPORT = xmit_bitsce[0], F0
OUTPORT = stimulus_current[0], Q0
OUTPORT = N_939, F1
OUTPORT = stimulus_current[1], Q1
OUTPUT = SLICE_562, SLICE
OUTPORT = xmit_bitsce[10], F0
OUTPORT = stimulus_current[2], Q0
OUTPORT = N_1054, F1
OUTPORT = stimulus_current[3], Q1
OUTPUT = SLICE_563, SLICE
OUTPORT = un1_frequency_low_axbxc4, F0
OUTPORT = int_period_3[6], Q0
OUTPORT = un1_frequency_low_c2, F1
OUTPORT = int_period_3[7], Q1
OUTPUT = SLICE_566, SLICE
OUTPORT = state_5, F0
OUTPORT = int_period_4[0], Q0
OUTPORT = N_1178, F1
OUTPORT = int_period_4[1], Q1
OUTPUT = SLICE_567, SLICE
OUTPORT = int_period_3_1_sqmuxa, F0
OUTPORT = int_mask[0], Q0
OUTPORT = N_1067, F1
OUTPORT = int_mask[1], Q1
OUTPUT = SLICE_568, SLICE
OUTPORT = tx_channel_1_sqmuxa, F0
OUTPORT = int_period_3[0], Q0
OUTPORT = N_1170, F1
OUTPORT = int_period_3[1], Q1
OUTPUT = SLICE_569, SLICE
OUTPORT = stimulus_current_1_sqmuxa, F0
OUTPORT = int_period_2[8], Q0
OUTPORT = N_1056, F1
OUTPORT = int_period_2[9], Q1
OUTPUT = SLICE_573, SLICE
OUTPORT = N_645, F0
OUTPORT = int_period_1[14], Q0
OUTPORT = N_818, F1
OUTPORT = int_period_1[15], Q1
OUTPUT = SLICE_577, SLICE
OUTPORT = un1_frequency_low_axbxc1, F0
OUTPORT = int_period_3[2], Q0
OUTPORT = Frequency_Modulation.un164_txb, F1
OUTPORT = int_period_3[3], Q1
OUTPUT = SLICE_590, SLICE
OUTPORT = sensor_bits_ince[0], F0
OUTPORT = int_period_1[8], Q0
OUTPORT = sensor_bits_ince_0[0], F1
OUTPORT = int_period_1[9], Q1
OUTPUT = SLICE_591, SLICE
OUTPORT = sensor_bits_ince[1], F0
OUTPORT = int_period_2[0], Q0
OUTPORT = N_1060, F1
OUTPORT = int_period_2[1], Q1
OUTPUT = SLICE_592, SLICE
OUTPORT = sensor_bits_ince[6], F0
OUTPORT = int_period_2[14], Q0
OUTPORT = N_1043, F1
OUTPORT = int_period_2[15], Q1
OUTPUT = SLICE_597, SLICE
OUTPORT = Byte_Receiver.un31_state, F0
OUTPORT = int_mask[4], Q0
OUTPORT = Byte_Receiver.un37_state, F1
OUTPORT = int_mask[5], Q1
OUTPUT = SLICE_598, SLICE
OUTPORT = MMU.TXI_4_1, F0
OUTPORT = TXWP, Q0
OUTPORT = tck_divisor_1_sqmuxa, F1
OUTPUT = SLICE_599, SLICE
OUTPORT = ENTCK_1_sqmuxa, F0
OUTPORT = DACTIVE, Q0
OUTPORT = DACTIVE_1_sqmuxa, F1
OUTPUT = SLICE_600, SLICE
OUTPORT = sensor_bits_ince[3], F0
OUTPORT = int_period_2[10], Q0
OUTPORT = sensor_bits_ince[2], F1
OUTPORT = int_period_2[11], Q1
OUTPUT = SLICE_618, SLICE
OUTPORT = int_period_2ce[0], F0
OUTPORT = frequency_low[2], Q0
OUTPORT = df_reg_1_sqmuxa, F1
OUTPORT = frequency_low[3], Q1
OUTPUT = SLICE_640, SLICE
OUTPORT = CPU/next_pc_21_iv_0[7], F0
OUTPORT = tx_channel[4], Q0
OUTPORT = CPU/next_pc_21_iv_0[1], F1
OUTPORT = tx_channel[5], Q1
OUTPUT = SLICE_641, SLICE
OUTPORT = CPU/next_pc_21_iv_0[3], F0
OUTPORT = tck_divisor[2], Q0
OUTPORT = CPU/next_pc_21_iv_0[0], F1
OUTPORT = tck_divisor[3], Q1
OUTPUT = SLICE_642, SLICE
OUTPORT = CPU/next_pc_21_iv_0[6], F0
OUTPORT = tx_channel[2], Q0
OUTPORT = CPU/next_pc_21_iv_0[4], F1
OUTPORT = tx_channel[3], Q1
OUTPUT = SLICE_643, SLICE
OUTPORT = CPU/next_pc_21_iv_0[5], F0
OUTPORT = tx_channel[0], Q0
OUTPORT = CPU/next_pc_21_iv_0[2], F1
OUTPORT = tx_channel[1], Q1
OUTPUT = SLICE_660, SLICE
OUTPORT = sensor_bits_ince[5], F0
OUTPORT = int_period_2[12], Q0
OUTPORT = sensor_bits_ince[7], F1
OUTPORT = int_period_2[13], Q1
OUTPUT = SLICE_663, SLICE
OUTPORT = state_2_ns_0_0_0_0[0], F0
OUTPORT = int_period_2[2], Q0
OUTPORT = state_2_ns_0_0_0_1[1], F1
OUTPORT = int_period_2[3], Q1
OUTPUT = SLICE_692, SLICE
OUTPORT = int_period_1ce[0], F0
OUTPORT = df_reg[2], Q0
OUTPORT = N_1048, F1
OUTPORT = df_reg[3], Q1
OUTPUT = SLICE_693, SLICE
OUTPORT = un1_frequency_low_axbxc3, F0
OUTPORT = int_period_3[4], Q0
OUTPORT = un1_frequency_low_axbxc2, F1
OUTPORT = int_period_3[5], Q1
OUTPUT = SLICE_696, SLICE
OUTPORT = N_1045, F0
OUTPORT = int_mask[2], Q0
OUTPORT = Message_Transmitter.TXB_1_0_0_a2_7_0, F1
OUTPORT = int_mask[3], Q1
OUTPUT = SLICE_704, SLICE
OUTPORT = Error_Check.un1_crcerr_0_a3_0_a2_8, F0
OUTPORT = ENTCK, Q0
OUTPORT = Error_Check.un1_crcerr_0_a3_0_a2_7, F1
OUTPUT = SLICE_709, SLICE
OUTPORT = N_1050, F0
OUTPORT = int_period_1[0], Q0
OUTPORT = N_647, F1
OUTPORT = int_period_1[1], Q1
OUTPUT = Command_Memory/CMD_FIFO_0_1, EBR
OUTPORT = CMF, FF
OUTPORT = CME, AE
OUTPORT = Command_Memory/Empty, EF
OUTPORT = cmd_out[0], DOB0
OUTPORT = cmd_out[1], DOB1
OUTPORT = cmd_out[2], DOB2
OUTPORT = cmd_out[3], DOB3
OUTPUT = Command_Memory/CMD_FIFO_1_0, EBR
OUTPORT = cmd_out[4], DOB0
OUTPORT = cmd_out[5], DOB1
OUTPORT = cmd_out[6], DOB2
OUTPORT = cmd_out[7], DOB3
OUTPUT = ROM/ROM_0_0_0_3, EBR
OUTPORT = prog_data[0], DOB0
OUTPORT = prog_data[1], DOB1
OUTPUT = ROM/ROM_0_0_1_2, EBR
OUTPORT = prog_data[2], DOB0
OUTPORT = prog_data[3], DOB1
OUTPUT = ROM/ROM_0_0_2_1, EBR
OUTPORT = prog_data[4], DOB0
OUTPORT = prog_data[5], DOB1
OUTPUT = ROM/ROM_0_0_3_0, EBR
OUTPORT = prog_data[6], DOB0
OUTPORT = prog_data[7], DOB1
OUTPUT = RAM/RAM_0_0_0_0, EBR
OUTPORT = ram_out[7], DOA7
OUTPORT = ram_out[6], DOA6
OUTPORT = ram_out[5], DOA5
OUTPORT = ram_out[4], DOA4
OUTPORT = ram_out[3], DOA3
OUTPORT = ram_out[2], DOA2
OUTPORT = ram_out[1], DOA1
OUTPORT = ram_out[0], DOA0
SIGNAL = N_743_i, DUMMY
OUTPUT = SLICE_212, SLICE
OUTPORT = cpu_data_in_rst_1_obs, F0
OUTPORT = cpu_data_in[0], Q0
OUTPORT = N_381_i, F1
OUTPORT = cpu_data_in[1], Q1
OUTPUT = SLICE_213, SLICE
OUTPORT = N_404_i, F0
OUTPORT = cpu_data_in[2], Q0
OUTPORT = N_414_i, F1
OUTPORT = cpu_data_in[3], Q1
SIGNAL = N_43_i, DUMMY
OUTPUT = SLICE_216, SLICE
OUTPORT = cpu_data_in_1[7], F0
OUTPORT = cpu_data_in[7], Q0
OUTPORT = N_494, F1
SIGNAL = FCK, DUMMY
OUTPUT = SLICE_189, SLICE
OUTPORT = TCK_i, F0
OUTPORT = TCK_1, Q0
OUTPORT = xdac_0io_RNO[0], F1
OUTPUT = xdac[4], PIO
OUTPUT = xdac[3], PIO
OUTPUT = xdac[2], PIO
OUTPUT = xdac[1], PIO
OUTPUT = xdac[0], PIO
OUTPUT = TP4, PIO
SIGNAL = RCK_c, DUMMY
INPUT = RCK, PIO
OUTPUT = SLICE_0, SLICE
OUTPORT = mcnt_s[0], F1
OUTPORT = mcnt[0], Q1
OUTPORT = mcnt_cry[0], FCO
OUTPUT = SLICE_52, SLICE
OUTPORT = counter_1_1_s[15], F0
OUTPORT = counter_1_1[15], Q0
OUTPUT = SLICE_53, SLICE
OUTPORT = counter_1_1_s[13], F0
OUTPORT = counter_1_1[13], Q0
OUTPORT = counter_1_1_s[14], F1
OUTPORT = counter_1_1[14], Q1
OUTPORT = counter_1_1_cry[14], FCO
OUTPUT = SLICE_54, SLICE
OUTPORT = counter_1_1_s[11], F0
OUTPORT = counter_1_1[11], Q0
OUTPORT = counter_1_1_s[12], F1
OUTPORT = counter_1_1[12], Q1
OUTPORT = counter_1_1_cry[12], FCO
OUTPUT = SLICE_55, SLICE
OUTPORT = counter_1_1_s[9], F0
OUTPORT = counter_1_1[9], Q0
OUTPORT = counter_1_1_s[10], F1
OUTPORT = counter_1_1[10], Q1
OUTPORT = counter_1_1_cry[10], FCO
OUTPUT = SLICE_56, SLICE
OUTPORT = counter_1_1_s[7], F0
OUTPORT = counter_1_1[7], Q0
OUTPORT = counter_1_1_s[8], F1
OUTPORT = counter_1_1[8], Q1
OUTPORT = counter_1_1_cry[8], FCO
OUTPUT = SLICE_57, SLICE
OUTPORT = counter_1_1_s[5], F0
OUTPORT = counter_1_1[5], Q0
OUTPORT = counter_1_1_s[6], F1
OUTPORT = counter_1_1[6], Q1
OUTPORT = counter_1_1_cry[6], FCO
OUTPUT = SLICE_58, SLICE
OUTPORT = counter_1_1_s[3], F0
OUTPORT = counter_1_1[3], Q0
OUTPORT = counter_1_1_s[4], F1
OUTPORT = counter_1_1[4], Q1
OUTPORT = counter_1_1_cry[4], FCO
OUTPUT = SLICE_59, SLICE
OUTPORT = counter_1_1_s[1], F0
OUTPORT = counter_1_1[1], Q0
OUTPORT = counter_1_1_s[2], F1
OUTPORT = counter_1_1[2], Q1
OUTPORT = counter_1_1_cry[2], FCO
OUTPUT = SLICE_60, SLICE
OUTPORT = counter_1_1_s[0], F1
OUTPORT = counter_1_1[0], Q1
OUTPORT = counter_1_1_cry[0], FCO
OUTPUT = SLICE_61, SLICE
OUTPORT = counter_2_s[15], F0
OUTPORT = counter_2[15], Q0
OUTPUT = SLICE_62, SLICE
OUTPORT = counter_2_s[13], F0
OUTPORT = counter_2[13], Q0
OUTPORT = counter_2_s[14], F1
OUTPORT = counter_2[14], Q1
OUTPORT = counter_2_cry[14], FCO
OUTPUT = SLICE_63, SLICE
OUTPORT = counter_2_s[11], F0
OUTPORT = counter_2[11], Q0
OUTPORT = counter_2_s[12], F1
OUTPORT = counter_2[12], Q1
OUTPORT = counter_2_cry[12], FCO
OUTPUT = SLICE_64, SLICE
OUTPORT = counter_2_s[9], F0
OUTPORT = counter_2[9], Q0
OUTPORT = counter_2_s[10], F1
OUTPORT = counter_2[10], Q1
OUTPORT = counter_2_cry[10], FCO
OUTPUT = SLICE_65, SLICE
OUTPORT = counter_2_s[7], F0
OUTPORT = counter_2[7], Q0
OUTPORT = counter_2_s[8], F1
OUTPORT = counter_2[8], Q1
OUTPORT = counter_2_cry[8], FCO
OUTPUT = SLICE_66, SLICE
OUTPORT = counter_2_s[5], F0
OUTPORT = counter_2[5], Q0
OUTPORT = counter_2_s[6], F1
OUTPORT = counter_2[6], Q1
OUTPORT = counter_2_cry[6], FCO
OUTPUT = SLICE_67, SLICE
OUTPORT = counter_2_s[3], F0
OUTPORT = counter_2[3], Q0
OUTPORT = counter_2_s[4], F1
OUTPORT = counter_2[4], Q1
OUTPORT = counter_2_cry[4], FCO
OUTPUT = SLICE_68, SLICE
OUTPORT = counter_2_s[1], F0
OUTPORT = counter_2[1], Q0
OUTPORT = counter_2_s[2], F1
OUTPORT = counter_2[2], Q1
OUTPORT = counter_2_cry[2], FCO
OUTPUT = SLICE_69, SLICE
OUTPORT = counter_2_s[0], F1
OUTPORT = counter_2[0], Q1
OUTPORT = counter_2_cry[0], FCO
OUTPUT = SLICE_70, SLICE
OUTPORT = state_6_s[5], F0
OUTPORT = state_6[5], Q0
OUTPUT = SLICE_71, SLICE
OUTPORT = state_6_s[3], F0
OUTPORT = state_6[3], Q0
OUTPORT = state_6_s[4], F1
OUTPORT = state_6[4], Q1
OUTPORT = state_6_cry[4], FCO
OUTPUT = SLICE_72, SLICE
OUTPORT = state_6_s[1], F0
OUTPORT = state_6[1], Q0
OUTPORT = state_6_s[2], F1
OUTPORT = state_6[2], Q1
OUTPORT = state_6_cry[2], FCO
OUTPUT = SLICE_73, SLICE
OUTPORT = state_6_s[0], F1
OUTPORT = state_6[0], Q1
OUTPORT = state_6_cry[0], FCO
OUTPUT = SLICE_77, SLICE
OUTPORT = counter_4_s[7], F0
OUTPORT = counter_4[7], Q0
OUTPUT = SLICE_78, SLICE
OUTPORT = counter_4_s[5], F0
OUTPORT = counter_4[5], Q0
OUTPORT = counter_4_s[6], F1
OUTPORT = counter_4[6], Q1
OUTPORT = counter_4_cry[6], FCO
OUTPUT = SLICE_79, SLICE
OUTPORT = counter_4_s[3], F0
OUTPORT = counter_4[3], Q0
OUTPORT = counter_4_s[4], F1
OUTPORT = counter_4[4], Q1
OUTPORT = counter_4_cry[4], FCO
OUTPUT = SLICE_80, SLICE
OUTPORT = counter_4_s[1], F0
OUTPORT = counter_4[1], Q0
OUTPORT = counter_4_s[2], F1
OUTPORT = counter_4[2], Q1
OUTPORT = counter_4_cry[2], FCO
OUTPUT = SLICE_81, SLICE
OUTPORT = counter_4_s[0], F1
OUTPORT = counter_4[0], Q1
OUTPORT = counter_4_cry[0], FCO
OUTPUT = SLICE_82, SLICE
OUTPORT = counter_3_s[7], F0
OUTPORT = counter_3[7], Q0
OUTPUT = SLICE_83, SLICE
OUTPORT = counter_3_s[5], F0
OUTPORT = counter_3[5], Q0
OUTPORT = counter_3_s[6], F1
OUTPORT = counter_3[6], Q1
OUTPORT = counter_3_cry[6], FCO
OUTPUT = SLICE_84, SLICE
OUTPORT = counter_3_s[3], F0
OUTPORT = counter_3[3], Q0
OUTPORT = counter_3_s[4], F1
OUTPORT = counter_3[4], Q1
OUTPORT = counter_3_cry[4], FCO
OUTPUT = SLICE_85, SLICE
OUTPORT = counter_3_s[1], F0
OUTPORT = counter_3[1], Q0
OUTPORT = counter_3_s[2], F1
OUTPORT = counter_3[2], Q1
OUTPORT = counter_3_cry[2], FCO
OUTPUT = SLICE_86, SLICE
OUTPORT = counter_3_s[0], F1
OUTPORT = counter_3[0], Q1
OUTPORT = counter_3_cry[0], FCO
OUTPUT = SLICE_92, SLICE
OUTPORT = mcnt_s[3], F0
OUTPORT = mcnt[3], Q0
OUTPORT = mcnt_s[4], F1
OUTPORT = mcnt[4], Q1
OUTPUT = SLICE_93, SLICE
OUTPORT = mcnt_s[1], F0
OUTPORT = mcnt[1], Q0
OUTPORT = mcnt_s[2], F1
OUTPORT = mcnt[2], Q1
OUTPORT = mcnt_cry[2], FCO
OUTPUT = SLICE_95, SLICE
OUTPORT = Byte_Receiver.BYTERR_RNO, F0
OUTPORT = Byte_Receiver.BYTERR, Q0
OUTPORT = N_644, F1
OUTPUT = SLICE_96, SLICE
OUTPORT = N_603_i, F0
OUTPORT = Byte_Receiver.CBS, Q0
OUTPORT = N_1121_1, F1
OUTPUT = SLICE_97, SLICE
OUTPORT = Byte_Receiver.RBD_1, F0
OUTPORT = Byte_Receiver.RBD, Q0
OUTPORT = Byte_Receiver.un43_state, F1
OUTPUT = SLICE_106, SLICE
OUTPORT = PowerUp.un1_clrflag, F0
OUTPORT = CLRFLAG, Q0
OUTPUT = SLICE_109, SLICE
OUTPORT = CO0_i, F0
OUTPORT = CO0, Q0
OUTPUT = SLICE_110, SLICE
OUTPORT = PowerUp.state_4[0], F0
OUTPORT = CO0_0, Q0
OUTPUT = SLICE_174, SLICE
OUTPORT = Error_Check.un1_crcerr_i, F0
OUTPORT = Error_Check.CRCERR, Q0
OUTPORT = Error_Check.un1_crcerr_0_a3_0_a2_9, F1
OUTPUT = SLICE_178, SLICE
OUTPORT = counter_1_1, F0
OUTPORT = INTZ1, Q0
OUTPORT = Interrupt_Controller.un17_mcnt_8, F1
OUTPUT = SLICE_179, SLICE
OUTPORT = counter_2, F0
OUTPORT = INTZ2, Q0
OUTPORT = Interrupt_Controller.un22_mcnt_8, F1
OUTPUT = SLICE_180, SLICE
OUTPORT = counter_3, F0
OUTPORT = INTZ3, Q0
OUTPORT = Interrupt_Controller.un1_counter_3_4, F1
OUTPUT = SLICE_181, SLICE
OUTPORT = counter_4, F0
OUTPORT = INTZ4, Q0
OUTPORT = Interrupt_Controller.un1_counter_4_4, F1
OUTPUT = SLICE_182, SLICE
OUTPORT = counter_0_sqmuxa, F0
OUTPORT = Initiate_Command.ICMD, Q0
OUTPORT = counter_0_sqmuxa_2, F1
OUTPUT = SLICE_184, SLICE
OUTPORT = PowerUp.reset, F0
OUTPORT = RESET_1, Q0
OUTPUT = SLICE_195, SLICE
OUTPORT = counter_0_sqmuxa_1, F0
OUTPORT = Terminate_Command.TCMD, Q0
OUTPORT = counter_0_sqmuxa_1_4, F1
OUTPUT = SLICE_196, SLICE
OUTPORT = PowerUp.un1_userstdby_i, F0
OUTPORT = USERSTDBY, Q0
OUTPUT = SLICE_197, SLICE
OUTPORT = SUM1, F0
OUTPORT = c[1], Q0
OUTPORT = SUM2, F1
OUTPORT = c[2], Q1
OUTPUT = SLICE_198, SLICE
OUTPORT = SUM3, F0
OUTPORT = c[3], Q0
OUTPORT = Stimulus_Controller.ONL_16.N_41_i, F1
OUTPUT = SLICE_199, SLICE
OUTPORT = counter_RNO[0], F0
OUTPORT = counter[0], Q0
OUTPORT = counter_RNO[1], F1
OUTPORT = counter[1], Q1
OUTPUT = SLICE_200, SLICE
OUTPORT = counter_RNO[2], F0
OUTPORT = counter[2], Q0
OUTPORT = counter_s_0_0[3], F1
OUTPORT = counter[3], Q1
OUTPUT = SLICE_201, SLICE
OUTPORT = counter_s_0_0[4], F0
OUTPORT = counter[4], Q0
OUTPORT = counter_s_0_0[5], F1
OUTPORT = counter[5], Q1
OUTPUT = SLICE_202, SLICE
OUTPORT = counter_1_RNO[0], F0
OUTPORT = counter_1[0], Q0
OUTPORT = counter_1_RNO[1], F1
OUTPORT = counter_1[1], Q1
OUTPUT = SLICE_203, SLICE
OUTPORT = counter_1_RNO[2], F0
OUTPORT = counter_1[2], Q0
OUTPORT = counter_1_RNO[3], F1
OUTPORT = counter_1[3], Q1
OUTPUT = SLICE_204, SLICE
OUTPORT = counter_1_RNO[4], F0
OUTPORT = counter_1[4], Q0
OUTPORT = counter_1_RNO[5], F1
OUTPORT = counter_1[5], Q1
OUTPUT = SLICE_205, SLICE
OUTPORT = counter_1_RNO[6], F0
OUTPORT = counter_1[6], Q0
OUTPORT = counter_1_RNO[7], F1
OUTPORT = counter_1[7], Q1
OUTPUT = SLICE_224, SLICE
OUTPORT = crc_s_0_0_0[0], F0
OUTPORT = crc[0], Q0
OUTPORT = crc_s_0_0_0[1], F1
OUTPORT = crc[1], Q1
OUTPUT = SLICE_225, SLICE
OUTPORT = crc_s_0_0_0[2], F0
OUTPORT = crc[2], Q0
OUTPORT = crc_s_0_0_0[3], F1
OUTPORT = crc[3], Q1
OUTPUT = SLICE_226, SLICE
OUTPORT = crc_s_0_0_0[4], F0
OUTPORT = crc[4], Q0
OUTPORT = crc_s_0_0_0[5], F1
OUTPORT = crc[5], Q1
OUTPUT = SLICE_227, SLICE
OUTPORT = crc_s_0_0_0[6], F0
OUTPORT = crc[6], Q0
OUTPORT = crc_s_0_0_0[7], F1
OUTPORT = crc[7], Q1
OUTPUT = SLICE_228, SLICE
OUTPORT = crc_s_0_0_0[8], F0
OUTPORT = crc[8], Q0
OUTPORT = crc_s_0_0_0[9], F1
OUTPORT = crc[9], Q1
OUTPUT = SLICE_229, SLICE
OUTPORT = crc_s_0_0_0[10], F0
OUTPORT = crc[10], Q0
OUTPORT = crc_s_0_0_0[11], F1
OUTPORT = crc[11], Q1
OUTPUT = SLICE_230, SLICE
OUTPORT = crc_s_0_0_0[12], F0
OUTPORT = crc[12], Q0
OUTPORT = crc_s_0_0_0[13], F1
OUTPORT = crc[13], Q1
OUTPUT = SLICE_231, SLICE
OUTPORT = crc_s_0_0_0[14], F0
OUTPORT = crc[14], Q0
OUTPORT = crc_s_0_0_0[15], F1
OUTPORT = crc[15], Q1
OUTPUT = SLICE_237, SLICE
OUTPORT = N_2301_0, F0
OUTPORT = int_bits[0], Q0
OUTPORT = cpu_data_in_obs_1_27_i_i_0_a2_16_2, F1
OUTPUT = SLICE_238, SLICE
OUTPORT = N_2300_0, F0
OUTPORT = int_bits[1], Q0
OUTPORT = N_683, F1
OUTPUT = SLICE_239, SLICE
OUTPORT = N_2299_0, F0
OUTPORT = int_bits[2], Q0
OUTPUT = SLICE_240, SLICE
OUTPORT = N_2298_0, F0
OUTPORT = int_bits[3], Q0
OUTPORT = N_396, F1
OUTPUT = SLICE_271, SLICE
OUTPORT = no_stop_bit_RNO, F0
OUTPORT = no_stop_bit, Q0
OUTPORT = Byte_Receiver.un20_state, F1
OUTPUT = SLICE_281, SLICE
OUTPORT = N_2396_0, F0
OUTPORT = state_2[0], Q0
OUTPORT = N_208_i, F1
OUTPORT = state_2[1], Q1
OUTPUT = SLICE_282, SLICE
OUTPORT = state_2_ns[3], F0
OUTPORT = state_2[2], Q0
OUTPORT = state_2_ns[2], F1
OUTPORT = state_2[3], Q1
OUTPUT = SLICE_283, SLICE
OUTPORT = state_2_ns[1], F0
OUTPORT = state_2[4], Q0
OUTPORT = state_2_ns[0], F1
OUTPORT = state_2[5], Q1
OUTPUT = SLICE_287, SLICE
OUTPORT = PowerUp.state_4[1], F0
OUTPORT = state_4[1], Q0
OUTPORT = PowerUp.state_4[2], F1
OUTPORT = state_4[2], Q1
OUTPUT = SLICE_347, SLICE
OUTPORT = RBI, Q0
OUTPORT = ROM/VCC, F1
OUTPORT = CPU/next_state_4_01_5_1_f5b, OFX1
OUTPUT = SLICE_501, SLICE
OUTPORT = CPU/next_pc_21[10], F0
OUTPORT = Byte_Receiver.cmd_in[6], Q0
OUTPORT = CPU/next_pc_1_sqmuxa_1, F1
OUTPUT = SLICE_503, SLICE
OUTPORT = CPU/next_pc_21[8], F0
OUTPORT = CMRST, Q0
OUTPORT = CPU/next_pc_15_m[8], F1
OUTPUT = SLICE_504, SLICE
OUTPORT = CPU/next_pc_21[9], F0
OUTPORT = CMWR, Q0
OUTPORT = CPU/next_pc_15_m[9], F1
OUTPUT = SLICE_505, SLICE
OUTPORT = CPU/next_pc_21[11], F0
OUTPORT = Byte_Receiver.cmd_in[7], Q0
OUTPORT = CPU/next_pc_15_m[11], F1
OUTPUT = SLICE_588, SLICE
OUTPORT = Byte_Receiver.un28_state, F0
OUTPORT = Byte_Receiver.cmd_in[0], Q0
OUTPORT = N_1059, F1
OUTPUT = SLICE_620, SLICE
OUTPORT = Byte_Receiver.un46_state, F0
OUTPORT = Byte_Receiver.cmd_in[1], Q0
OUTPORT = Byte_Receiver.un40_state, F1
OUTPUT = SLICE_658, SLICE
OUTPORT = Command_Processor.un18_reset_i, F0
OUTPORT = Byte_Receiver.cmd_in[3], Q0
OUTPORT = Command_Processor.un18_reset, F1
OUTPUT = SLICE_688, SLICE
OUTPORT = CPU/cpu_data_out_18[2], F0
OUTPORT = Byte_Receiver.cmd_in[4], Q0
OUTPORT = CPU/N_229, F1
OUTPUT = SLICE_689, SLICE
OUTPORT = CPU/cpu_data_out_18[3], F0
OUTPORT = Byte_Receiver.cmd_in[5], Q0
OUTPORT = CPU/N_226, F1
OUTPUT = SLICE_713, SLICE
OUTPORT = CMRD, F0
OUTPORT = Byte_Receiver.cmd_in[2], Q0
OUTPORT = N_433, F1
OUTPUT = ONL, PIO
OUTPUT = Command_Memory/CMD_FIFO_0_1, EBR
OUTPORT = CMF, FF
OUTPORT = CME, AE
OUTPORT = Command_Memory/Empty, EF
OUTPORT = cmd_out[0], DOB0
OUTPORT = cmd_out[1], DOB1
OUTPORT = cmd_out[2], DOB2
OUTPORT = cmd_out[3], DOB3
OUTPUT = Command_Memory/CMD_FIFO_1_0, EBR
OUTPORT = cmd_out[4], DOB0
OUTPORT = cmd_out[5], DOB1
OUTPORT = cmd_out[6], DOB2
OUTPORT = cmd_out[7], DOB3

